﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    bool allowCreate = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "ClientAdmin");
}


@{
    ViewData["Title"] = "Получатели";
}

<h2>Получатели</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.RecipientObjectsViewModel>()
    .DataSource(ds => ds.Mvc()
        .Controller("Recipient")
        .LoadAction("GetList")
        .InsertAction("Create")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .ShowBorders(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).Visible(false);

        columns.AddFor(m => m.recipient).Width("150");

        //columns.AddFor(m => m.macAddr).Width("30%");

        columns.AddFor(m => m.is_active).Width("90");
        columns.AddFor(m => m.is_sms).Width("90");
        columns.AddFor(m => m.is_telegram).Width("90");
        columns.AddFor(m => m.is_whatsapp).Width("90");
        columns.AddFor(m => m.is_email).Width("90");

        columns.Add().DataField("ObjectControl")
            .CellTemplate(@<text>
                            <div>
                                <span onclick="showObjects('<%- data.id %>')" style="cursor: pointer;"><i class="fas fa-store-alt" ></i>
                                <% if (data.sub == 1) { %>
                                <%- data.listObjects %>
                                <% } else if (data.sub == 0) {%>
                                    <%- data.sub %> / <%- data.all %>
                                <% } else {%>
                                <%- data.sub %> / <%- data.all %> (<%- data.listObjects %>)
                                <% } %>
                                </span>
                            </div>
                        </text>)
                    .Caption("Объекты")
                    .Width("40%")
                    ;

        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
            b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");


        });
    })
    .Editing(e => e
        .AllowAdding(@allowCreate)
        .AllowUpdating(@allowCreate)
        .AllowDeleting(@allowCreate)
        .Mode(GridEditMode.Popup)
        .Popup(p => p
            .Title("Настройка получателя")
            .ShowTitle(true)
            .Width(700)
            .Height(600)
        )
        .Form(f => f.Items(
            items => {
                items.AddGroup()
                .Caption("Получатель")
                .ColCount(2)
                .ColSpan(2)
                .Items(i =>
                {
                    i.AddSimpleFor(m => m.recipient);
                    //i.AddSimpleFor(m => m.macAddr);
                    i.AddSimpleFor(m => m.is_active).Editor(e => e.CheckBox().Value(false));

                });

                items.AddGroup()
                .Caption("Каналы доставки сообщений")
                .ColCount(2)
                .ColSpan(2)
                .Items(i =>
                {
                    i.AddSimpleFor(m => m.is_sms).Editor(e => e.CheckBox().Value(false).Disabled(true));
                    i.AddSimpleFor(m => m.is_telegram).Editor(e => e.CheckBox().Value(false));
                    i.AddSimpleFor(m => m.is_whatsapp).Editor(e => e.CheckBox().Value(false).Disabled(true));
                    i.AddSimpleFor(m => m.is_email).Editor(e => e.CheckBox().Value(false).Disabled(true));

                });


            }

            ))

    )

)
@(Html.DevExtreme().Popup()
    .Title("Доступ к объектам")
    .ResizeEnabled(true).ID("objects_popup").Visible(false)
    .Width(350)
    .Height(450)
    .ContentTemplate(@<text>
        <div id="popup_window_objects">

        </div>
    </text>)
)

<script>
    function loadPopup(link, uid, target) {
        console.log('loadPopup', uid);
        $.ajax({
            url: '/Recipient/' + link,
            type: 'GET',
            data: { 'recipId': uid },
            success: function (content) {
                //console.log("popup загружен", content);
                $('#' + target).html(content);
                //                $('#roles_popup').dxPopup("instance").show();
            },
            error: function (e) {
                console.log(e);
            }
        });
    };

    function showObjects(data) {
        console.log('showObjects', data);
        loadPopup('Objects', data, 'popup_window_objects');
        const popup2 = $("#objects_popup").dxPopup("instance");
        popup2.show();
    }

</script>