﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    bool roleAdmin = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "Admin");
}


@{
    ViewData["Title"] = "Получатели";
}

<h2>Получатели</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.recipients>()
    .DataSource(ds => ds.Mvc()
        .Controller("Recipient")
        .LoadAction("Get")
        .InsertAction("Create")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .ShowBorders(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).Visible(false);

        columns.AddFor(m => m.recipient).Width("60%");

        columns.AddFor(m => m.macAddr).Width("30%");

        columns.AddFor(m => m.is_active).Width("90");
        columns.AddFor(m => m.is_sms).Width("90");
        columns.AddFor(m => m.is_telegram).Width("90");
        columns.AddFor(m => m.is_whatsapp).Width("90");
        columns.AddFor(m => m.is_email).Width("90");

        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
            b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");


        });
    })
    .Editing(e => e
        .AllowAdding(@roleAdmin)
        .AllowUpdating(@roleAdmin)
        .AllowDeleting(@roleAdmin)
        .Mode(GridEditMode.Popup)
        .Popup(p => p
            .Title("Настройка получателя")
            .ShowTitle(true)
            .Width(700)
            .Height(600)
        )
        .Form(f => f.Items(
            items => {
                items.AddGroup()
                .Caption("Получатель")
                .ColCount(2)
                .ColSpan(2)
                .Items(i =>
                {
                    i.AddSimpleFor(m => m.recipient);
                    i.AddSimpleFor(m => m.macAddr);
                    i.AddSimpleFor(m => m.is_active);

                });

                items.AddGroup()
                .Caption("Каналы доставки сообщений")
                .ColCount(2)
                .ColSpan(2)
                .Items(i =>
                {
                    i.AddSimpleFor(m => m.is_sms).Editor(e => e.CheckBox());
                    i.AddSimpleFor(m => m.is_telegram).Editor(e => e.CheckBox());
                    i.AddSimpleFor(m => m.is_whatsapp).Editor(e => e.CheckBox());
                    i.AddSimpleFor(m => m.is_email).Editor(e => e.CheckBox());

                });


            }

            ))

    )

)
