﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<RecipientObjectViewModel>
@{
    //ViewData["Title"] = "Manage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
}
<form method="post" action="/recipient/objects/">
    <div class="card">
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model[i].idm_object" />                
                <input type="hidden" name="recipId" value="@ViewBag.RecipId" />
                <input asp-for="@Model[i].selected" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model[i].selected">
                    @Model[i].object_description
                </label>
            </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn-sm btn-primary"
                   style="width:auto" />
            @*<a asp-action="EditUser" asp-route-id="@ViewBag.userId"
               class="btn-sm btn-primary" style="width:auto">Cancel</a>*@
        </div>
    </div>
</form>