@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Regular.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-LightIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-LightIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Regular.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Light.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Semibold.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Light.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Semibold.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff2') format('woff2'),
	url('/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

