@import "./fonts";


h1, .h1{
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 1em;
    
    color: #000000;
    display: block;
    padding: 0;
    margin: 0 0 1rem;
}

h2, .h2{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    line-height: 1em;
    
    color: #000000;
    display: block;
    padding: 0;
    margin: 0 0 1rem;
}

h3, .h3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1em;
    
    color: #000000;
    display: block;
    padding: 0;
    margin: 0 0 1rem;
}


body{
    background: #F4F9FD;
}

.shadow{
    box-shadow: 0px 10px 30px rgba(23, 50, 104, 0.1);
}


.header{
    background: #fff;
    @extend .shadow;
}
.header-container{
    display: grid;
    grid-template-columns: 198px 1fr 160px 90px 100px;
    padding: 1rem 0;
    align-items: center;
    gap: 1rem;

}
.header-logo{
    height: 42px;
}
.logo{
    display: block;
    svg{
        display: block;
        width: 100%;
        height: 100%;
    }
}
.nav{
    display: flex;
    width: 100%;
    gap: 0 2rem;
    justify-content: center;
    align-items: center;
    &-item{
        position: relative;
        a{
            display: flex;
            font-size: 16px;
            .icon{
                --ui-icon-width: 16px;
                margin: 0 2px;
            }
            &:hover{
                font-weight: 600;
                font-size: 15.78px;
            }
        }
        &__link{
            display: block;
        }
        &__childs{
            display: none;
        }
    }
}

.--arrow-down{
    position: relative;
    padding-right: 15px;
    &:after{
        content: '';
        width: 8px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-3px);
    }
}

.profile{
    display: flex;
    justify-content: center;
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        .icon{
            --ui-icon-width: 10px;
        }
        span{
            border-bottom: 1px solid #5CB1FF;
            padding: 2px 0;
        }
    }
}

.lang{
    display: flex;
    justify-content: center;
    &__btn{
        display: flex;
        svg.icon{
            width: 26px;
            height: 18px;
            border: 1px solid #f3f3f3;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    }
}

.wrapper{
    padding-top: 50px;
    &__header{
        display: grid;
        grid-template-columns: 1fr 300px;
        margin-bottom: 2rem;
        align-items: center;

        &-title{
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
        }

        &-controlls{
            justify-content: flex-end;
            display: flex;
        }
    }

}

html, body, #app{
    display: block;
    width: 100%;
    height: 100%;
}

.welcome{
    background: url("/img/svg/background.svg") no-repeat center;
    width: 100%;
    height: 100%;
    .layer{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &-container{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 440px;
        width: 100%;
        &__picture{
            max-width: 700px;
            margin-bottom: 50px;
            filter: drop-shadow(0px 26px 60px #00000042);
            img{
                display: block;
                max-width: 100%;
            }
        }

        &__text{
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;
            max-width: 320px;
            img{
                display: block;
                margin-bottom: 1rem;
            }

            b{
                display: block;
                margin-top: 1rem;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 13px;
                color: #E7EFF5;
            }
        }


    }
}

.login{
    background: #fff;
    border-radius: 40px;

    &__header{
        padding: 1.5rem 4rem;
        border-bottom: 1px solid #ddd;
        display: grid;
        grid-template-columns: 1fr 40px;
        align-items: center;
        justify-content: center;
        &-logo{
            display: flex;
            align-items: center;
        }
    }
    &__form{
        padding: 3rem 4rem;
        &-title{
            font-weight: 600;
            font-size: 33px;
            color: #000000;
            display: block;
            margin-bottom: 10px;
        }
        &-subtitle{
            font-weight: 400;
            font-size: 13px;
            color: #98A2A8;
        }

       &-input{
           span{
               display: block;
               font-weight: 600;
               font-size: 13px;
               margin-bottom: 5px;
           }
           .input{
               display: block;
               width: 100%;
               margin-bottom: 1px;
               border-radius: 5px;
               padding: 14px 20px;

           }
           small{
               display: block;
               font-style: normal;
               font-weight: 400;
               font-size: 12px;
               color: #98A2A8;
           }
       }

        &-checkbox{
            --icon-size: 22px;
            input{
                border-radius: 5px;
            }
        }

       &-submit{
           .btn{
               --padding-top-bottom: 16px;
               border-radius: 5px;
           }
       }
        &-links{
            a{
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                color: #98A2A8;
                margin-bottom: 5px;
                &:hover{
                    text-decoration: underline;
                    color: #000;
                }
            }
        }
    }
}

.footer{
    &-container{
        display: grid;
        grid-template-columns: 200px 445px 1fr;
        gap: 4rem;
        box-sizing: border-box;
        padding: 2rem 0;
        border-top: 1px solid #ddd;
        &-main{
            
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
    
            color: #A8B1BE;
        }
        &-text{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #393A3D;
        }
    }
}

.box{
    box-sizing: border-box;
    padding: 3rem;
    background: #fff;
}
.data-container{
    min-height: 500px;
    display: block;
    margin-bottom: 2rem;

}

.grid-container{
    display: grid;
    grid-template-columns: minmax(250px, 300px) 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    &__aside{
    
    }
    
    &__body{
        border-radius: 15px;
        position: relative;
        &:after{
            content: '';
            background: url("/img/svg/logo-rotated.svg");
            width: 28px;
            height: 140px;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}


.aside{
    @extend .box;
    @extend .shadow;
    padding: 0;
    border-radius: 30px;
    &-header{
        padding: 2rem 3rem;
        border-bottom: 1px solid #ddd;
    }
    &-body{
        padding: 2rem 3rem;
        position: relative;
       
        
    }
    &-logo{
        display: block;
        margin: 0 auto 1rem;
        img{
            display: block;
            margin: 0 auto;
            max-width: 130px;
            width: 100%;
        }
    }
    &-title{
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #000000;
        line-height: 1em;
        margin-bottom: 10px;
    }
    &-subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1rem;
        color: #98A2A8;
    }
    
    &-nav{
        display: block;
        margin-bottom: 2rem;
        &__item{
            display: grid;
            width: 100%;
            grid-template-columns: 30px 1fr;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.1em;
            color: #000000;
            align-items: center;
            .icon{
                --ui-icon-width:20px;
            }
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
            
            &.-active{
                font-weight: 700;
                color: var(--color-violet);
            }
        }
    }
    
    &-buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}

.information{
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3rem;
    
    &__title{
        @extend .h2;
        
    }
    &__subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.3em;
        color: #98A2A8;
        display: block;
        margin-bottom: 2rem;
    }
}