﻿@{
    ViewData["Title"] = "О программе";
}
<h1>@ViewData["Title"]</h1>

<p>Программа разработана компанией Global IT.</p>
<p>По всем вопросам обращаться на следующий адрес <span> <a href="mailto:global@ndigital.tech">global@ndigital.tech</a></span>.</p>
