﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    bool allowCreate = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "ClientAdmin");
}


@{
    ViewData["Title"] = "Объекты";
}

<h2>Объекты</h2>
@*<div class="container">
    <div class="wrapper__header">
        <div class="wrapper__header-title">@ViewData["Title"]</div>
        <div class="wrapper__header-controlls">
        </div>
    </div>
</div>*@

@(Html.DevExtreme().DataGrid<CloudControl.Models.ObjectControl>()
    .DataSource(ds => ds.Mvc()
        .Controller("Object")
        .LoadAction("Get")
        .InsertAction("Create")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .ShowBorders(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).Visible(false);

        columns.AddFor(m => m.description);

        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
            b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");


        });
    })
    .Editing(e => e
        .AllowAdding(@allowCreate)
        .AllowUpdating(@allowCreate)
        .AllowDeleting(@allowCreate)
        .Mode(GridEditMode.Popup)
        .Popup(p => p
                .Title("Редактирование")
                .ShowTitle(true)
                .Width(500)
                .Height(600)
            )
            .Form(f => f.Items(
                i =>
                {
                    i.AddGroup()
                        .Caption("Описание")
                        .ColCount(1)
                        .ColSpan(2)
                        .Items(groupItems =>
                            {
                                groupItems.AddSimpleFor(m => m.description);

                            }
                        );
                }
            )
        )
    )
)
