﻿@model List<CloudControl.Models.ObjectControl>
@{
    ViewData["Title"] = "";
}

@*@section ExternalDependencies {
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    }*@

<style>
    #chart {
        height: 440px;
    }

    .line-chart-small {
        height: 150px;
        width: 300px;
    }
</style>


<div class="row">
    <div class="col-md-4">
        @(Html.DevExtreme().PieChart()
    .ID("pie")
    //.OnInitialized("getSeries")
    .Palette(VizPalette.SoftPastel)
    .Type(PieChartType.Doughnut)
    .Title("Соотношение аварий")
    .Tooltip(t => t
        .Enabled(true)
        //.Format(Format.Millions)
        .CustomizeTooltip(@<text>
            function(arg) {                
                return {
                    text: arg.argumentText + " - " + (arg.percent * 100).toFixed(2) + "%"
                };
            }
        </text>)
    )
    .Legend(l => l
        .HorizontalAlignment(HorizontalAlignment.Right)
        .VerticalAlignment(VerticalEdge.Top)
        .Margin(0)
    )
    .Export(e => e.Enabled(false))
    .Series(s => s
        .Add()
        .ArgumentField("status")
        .ValueField("count")
        .Name("open")

        .Label(l => l
            .Visible(true)
            //.Format(Format.Millions)
            .Connector(c => c.Visible(true))
        )
    )
    .DataSource("/dashboard/Report4")
)

    </div>
    <div class="col-md-8">
        @(Html.DevExtreme().Chart()
    .ID("chart")
    .Rotated(true)
    .CommonSeriesSettings(s => s
        .ArgumentField("bar_name")
        .Type(SeriesType.StackedBar)
    )

    .Series(s => {
        s.Add().ValueField("open").Name("Открыто");
        s.Add().ValueField("close").Name("Закрыто");
        s.Add().ValueField("error").Name("Закрыто с ошибкой");
        s.Add().ValueField("twice").Name("Открыто повторно");
    })
    .Legend(l => l
        .VerticalAlignment(VerticalEdge.Bottom)
        .HorizontalAlignment(HorizontalAlignment.Center)
        .ItemTextPosition(Position.Top)
    )
    .ValueAxis(a => a
        .Add()
        .Title(t => t.Text("Аварии"))
        .Position(Position.Left)
    )
    .Title("Общее кол-во аварий по объектам")
    .Export(e => e.Enabled(false))
    .Tooltip(t => t
        .Enabled(true)
        .Location(ChartTooltipLocation.Edge)
        .CustomizeTooltip(@<text>
            function(arg) {            
                return {
                    text: arg.seriesName + " аварий: " + arg.valueText
                };
            }
        </text>)
    )
    .DataSource(
        "/Dashboard/Report2"
    )
)
    </div>
    </div>
    <div class="row>"
    <div class="col-md-12">
        <div class="row">
            @{

                foreach (var obj in Model)
                {
                    @*<p>@obj.description</p*@

            <div class="col-md-3">
                @(Html.DevExtreme().Chart()
        .AdaptiveLayout(l => l.Width(250).Height(100).KeepLabels(true))
        //.ElementAttr(class = "line-chart-small")
        .LoadingIndicator(i => i.Enabled(true))
        .Export(e => e.Enabled(false))
        .Margin(m => m.Top(20))
        .ID("line-chart"+@obj.id)
        //.Rotated(true)
        .Palette(VizPalette.Violet)
        //.OnInitialized("getSeries")
        .CommonSeriesSettings(s => s
            .ArgumentField("date_in")
            .Type(SeriesType.Line)

        )
        .Margin(m => m.Bottom(20))
        .ArgumentAxis(a => a
            .ValueMarginsEnabled(false)
            .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
            .Grid(g => g.Visible(true))
        )

        .Series(s =>
        {
            s.Add().ValueField("_count").Type(SeriesType.Line).Name(@obj.description);
        })
        .Legend(l => l
            .VerticalAlignment(VerticalEdge.Bottom)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .ItemTextPosition(Position.Bottom)
            .Visible(false)
        )
        .Title(t => t
            .Text(@obj.description)
            .Font(f => f.Size(16))
            //.Subtitle(s => s.Text(@obj.description))
        )
        .Tooltip(t => t
        .Enabled(true)
        .Location(ChartTooltipLocation.Edge)
        .CustomizeTooltip(@<text>
            function(arg) {
                console.log(arg);
                return {
                    text: arg.valueText + ":" +arg.seriesName
                };
            }
        </text>)
    )

        .Tooltip(t => t.Enabled(true))
        .DataSource(
            "/Dashboard/Report3?oid="+obj.id
        )
    )
            </div>

                }
            }
        </div>
    </div>

</div>





    <script>

        function getSeries(e) {
            console.log(e);
//            var chart = e.element[0];
            //$(chart).addClass("line-chart-small");
            //$.ajax({
            //    url: '/Dashboard/Report3Series',
            //    type: 'GET',
            //    //contentType: 'application/json',
            //    success: function (content) {
            //        console.log("ответ получен:", content);
            //        $('#line-chart').dxChart("instance").series(content);
            //    },
            //    error: function (e) {
            //        console.log(e);
            //    }
            //});

        }


    </script>
