$colors: (
    main:#004494,
    blue:#293479,
    orange:#FF4D3D,
    violet:#5565CF,
    crimson:#C71B59,
    lilac:#7D85B7,
    lilac-dark:#6074EE,
    gray:#9BA1A8,
    smoke:#B6C9D8,
    smoke-2:#EDF1F4,
    black:#000,
    font:#000,
    gradient:linear-gradient(122.31deg, #987BFF 5.83%, #5CC4FF 125.47%),
);


$ui-colors:(
    input-stroke:#B6C9D8,
    input-stroke-focus: var(--color-main),
    btn-blue:#5565CF,
    btn-blue-light:#0047B1,
    btn-pink:#D12577,
    btn-pink-light:#EF2D89,

);

$font: (
    family: "Proxima Nova",
    fontRatio:15,
    size:15px,
    line-height:1.1em,
);

$params: (
    text-shadow:  0 2px 2px rgba(0,0,0,.5),
    container-min-width:320px,
    container-max-width:1322px,
    container-margin:0px auto,
    container-padding:0 1rem,
    border-radius: 5px,
    animation:80ms,
    ui-icon-width:22px,
);

$screens: (
    l:1312px,
    m:1024px,
    c:830px,
    s:640px,
    xs:420px,
);

:root {
    @each $name, $value in $font {
        --font-#{$name}:  #{$value};
    }
    @each $name, $c in $colors {
      --color-#{$name}: #{$c};
    }
    @each $name, $c in $ui-colors {
        --color-#{$name}: #{$c};
    }


    @each $name, $value in $params {
        --#{$name}:  #{$value};
    }
}