/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

:root {
    --font-family: Proxima Nova;
    --font-fontRatio: 15;
    --font-size: 15px;
    --font-line-height: 1.1em;
    --color-main: #004494;
    --color-blue: #293479;
    --color-orange: #FF4D3D;
    --color-violet: #5565CF;
    --color-crimson: #C71B59;
    --color-lilac: #7D85B7;
    --color-lilac-dark: #6074EE;
    --color-gray: #9BA1A8;
    --color-smoke: #B6C9D8;
    --color-smoke-2: #EDF1F4;
    --color- #000: #000;
    --color-font: #000;
    --color-gradient: linear-gradient(122.31deg, #987BFF 5.83%, #5CC4FF 125.47%);
    --color-input-stroke: #B6C9D8;
    --color-input-stroke-focus: var(--color-main);
    --color-btn-blue: #5565CF;
    --color-btn-blue-light: #0047B1;
    --color-btn-pink: #D12577;
    --color-btn-pink-light: #EF2D89;
    --text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    --container-min-width: 320px;
    --container-max-width: 1322px;
    --container-margin: 0px auto;
    --container-padding: 0 1rem;
    --border-radius: 5px;
    --animation: 80ms;
    --ui-icon-width: 22px
}

html, body {
    height: 100%;
    width: 100%
}

body {
    line-height: var(--font-line-height);
    font-family: var(--font-family);
    font-size: var(--color-size);
    font-weight: normal;
    color: var(--color-font)
}

.layer {
    max-width: var(--container-max-width);
    min-width: var(--container-min-width);
    margin: var(--container-margin);
    padding: var(--container-padding);
    box-sizing: border-box
}

p {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
    word-wrap: break-word
}

b {
    font-weight: bold
}

a, a:visited {
    text-decoration: none;
    color: var(--color-links)
}

button, input, select, textarea {
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--color-font)
}

button, select {
    cursor: pointer
}

img {
    max-width: 100%;
    display: inline-flex
}

h1, .h1 {
    display: block;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 600
}

h2, .h2, .information__title {
    display: block;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 600
}

h3, .h3 {
    display: block;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 600
}

h4, .h4 {
    display: block;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 600
}

h5, .h5 {
    display: block;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 600
}

h6, .h6 {
    display: block;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 600
}

.mt1 {
    margin-top: 1rem
}

.mb1 {
    margin-bottom: 1rem
}

.pt1 {
    padding-top: 1rem
}

.pb1 {
    padding-bottom: 1rem
}

.gap1 {
    gap: 1rem
}

.mt2 {
    margin-top: 2rem
}

.mb2 {
    margin-bottom: 2rem
}

.pt2 {
    padding-top: 2rem
}

.pb2 {
    padding-bottom: 2rem
}

.gap2 {
    gap: 2rem
}

.mt3 {
    margin-top: 3rem
}

.mb3 {
    margin-bottom: 3rem
}

.pt3 {
    padding-top: 3rem
}

.pb3 {
    padding-bottom: 3rem
}

.gap3 {
    gap: 3rem
}

.mt4 {
    margin-top: 4rem
}

.mb4 {
    margin-bottom: 4rem
}

.pt4 {
    padding-top: 4rem
}

.pb4 {
    padding-bottom: 4rem
}

.gap4 {
    gap: 4rem
}

.mt5 {
    margin-top: 5rem
}

.mb5 {
    margin-bottom: 5rem
}

.pt5 {
    padding-top: 5rem
}

.pb5 {
    padding-bottom: 5rem
}

.gap5 {
    gap: 5rem
}

.mt6 {
    margin-top: 6rem
}

.mb6 {
    margin-bottom: 6rem
}

.pt6 {
    padding-top: 6rem
}

.pb6 {
    padding-bottom: 6rem
}

.gap6 {
    gap: 6rem
}

.w10 {
    width: 10%
}

.h10 {
    height: 10%
}

.w15 {
    width: 15%
}

.h15 {
    height: 15%
}

.w20 {
    width: 20%
}

.h20 {
    height: 20%
}

.w25 {
    width: 25%
}

.h25 {
    height: 25%
}

.w30 {
    width: 30%
}

.h30 {
    height: 30%
}

.w35 {
    width: 35%
}

.h35 {
    height: 35%
}

.w40 {
    width: 40%
}

.h40 {
    height: 40%
}

.w45 {
    width: 45%
}

.h45 {
    height: 45%
}

.w50 {
    width: 50%
}

.h50 {
    height: 50%
}

.w55 {
    width: 55%
}

.h55 {
    height: 55%
}

.w60 {
    width: 60%
}

.h60 {
    height: 60%
}

.w65 {
    width: 65%
}

.h65 {
    height: 65%
}

.w70 {
    width: 70%
}

.h70 {
    height: 70%
}

.w75 {
    width: 75%
}

.h75 {
    height: 75%
}

.w80 {
    width: 80%
}

.h80 {
    height: 80%
}

.w85 {
    width: 85%
}

.h85 {
    height: 85%
}

.w90 {
    width: 90%
}

.h90 {
    height: 90%
}

.w95 {
    width: 95%
}

.h95 {
    height: 95%
}

.w100 {
    width: 100%
}

.h100 {
    height: 100%
}

body, .body {
    font-size: var(--font-size)
}

h1, .h1 {
    font-size: 35px;
    font-weight: 700
}

h2, .h2, .information__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px
}

h3, .h3 {
    font-size: 25px;
    font-weight: 700
}

h4, .h4 {
    font-size: 18px
}

h5, .h5 {
    font-size: 16px
}

@media screen and (max-width: 1024px) {
    h1, .h1 {
        font-size: 25px
    }

    h2, .h2, .information__title {
        font-size: 20px
    }

    h3, .h3 {
        font-size: 18px
    }

    h4, .h4 {
        font-size: 16px
    }

    h5, .h5 {
        font-size: 14px
    }
}

#app table {
    border: 2px solid var(--color-main);
    border-radius: 5px;
    border-collapse: collapse
}

    #app table td {
        padding: 1em;
        border: 1px solid var(--color-main)
    }

#app ol, #app ul {
    line-height: 1.5em
}

#app .blackquote {
    display: block;
    width: 100%;
    padding: 1em;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    margin-bottom: 1em;
    line-height: 1.5em
}

.noselect, .checkbox, .radio {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.nowrap, select, [data-copy] input {
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden
}

.noscroll {
    overflow: hidden
}

@media (min-device-width: 1025px) {
    .noscroll {
        padding-right: 15px
    }
}

.clamp {
    --clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: var(--clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

    .clamp.clamp-1 {
        --clamp: 1
    }

    .clamp.clamp-2 {
        --clamp: 2
    }

    .clamp.clamp-3 {
        --clamp: 3
    }

    .clamp.clamp-4 {
        --clamp: 4
    }

.spinner {
    --size: 2px;
    --speed: 0.8s;
    --width: 20px;
    --fill: var(--color);
    --background-color: transparent
}

    .spinner:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--width);
        height: var(--width);
        margin-top: calc( var(--width) - calc( var(--width) * 1.5));
        margin-left: calc( var(--width) - calc( var(--width) * 1.5));
        border-radius: 50%;
        border: var(--size) solid var(--fill);
        border-top-color: var(--background-color);
        animation: spinner var(--speed) linear infinite;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden
    }

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

.cursor-close {
    --width: 1em;
    --volume: 1px;
    --color: #000;
    box-sizing: border-box;
    display: inline-block;
    width: var(--width);
    height: var(--width);
    position: relative
}

    .cursor-close:before, .cursor-close:after {
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        height: var(--width);
        width: 0;
        border: solid var(--color);
        border-width: 0px var(--volume) 0 0;
        background-color: var(--color)
    }

    .cursor-close:before {
        transform: rotate(45deg)
    }

    .cursor-close:after {
        transform: rotate(-45deg)
    }

.cursor-up, .cursor-right, .cursor-down, .cursor-left {
    --width: 1em;
    --volume: 2px;
    --color: #000;
    box-sizing: border-box;
    display: inline-block;
    width: var(--width);
    height: var(--width);
    position: relative
}

    .cursor-up:before, .cursor-up:after, .cursor-right:before, .cursor-right:after, .cursor-down:before, .cursor-down:after, .cursor-left:before, .cursor-left:after {
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        height: var(--width);
        width: 0;
        border: solid var(--color);
        border-width: 0px var(--volume) 0 0;
        background-color: var(--color)
    }

    .cursor-up:before {
        transform: rotate(0deg)
    }

    .cursor-up:after {
        transform: rotate(-90deg)
    }

.right, .left, .up, .down {
    --width: 1em;
    --volume: 2px;
    --color: #000;
    border: solid black;
    border-width: 0 var(--volume) var(--volume) 0;
    box-sizing: border-box;
    display: inline-block;
    width: var(--width);
    height: var(--width);
    position: relative
}

    .right.up, .left.up, .up.up, .down.up {
        transform: rotate(-135deg)
    }

    .right.right, .left.right, .up.right, .down.right {
        transform: rotate(-45deg)
    }

    .right.down, .left.down, .up.down, .down.down {
        transform: rotate(45deg)
    }

    .right.left, .left.left, .up.left, .down.left {
        transform: rotate(135deg)
    }

.close {
    --width: 1em;
    --volume: 2px;
    --color: #333;
    position: relative;
    display: inline-flex;
    width: var(--width);
    height: var(--width);
    cursor: pointer;
    overflow: hidden
}

    .close:before, .close:after {
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        height: var(--width);
        width: 0;
        border: solid var(--color);
        border-width: 0px var(--volume) 0 0;
        background-color: var(--color)
    }

    .close:before {
        transform: rotate(45deg)
    }

    .close:after {
        transform: rotate(-45deg)
    }

[data-count] {
    --backgound-color: var(--color-pink);
    position: relative
}

    [data-count]::after {
        position: absolute;
        content: attr(data-count);
        width: 14px;
        height: 14px;
        right: -2px;
        top: -2px;
        background-color: var(--backgound-color);
        font-size: 8px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 14px;
        color: #fff;
        border-radius: 50%;
        text-align: center
    }

[data-count='0'] {
    --backgound-color: var(--color-smoke)
}

[data-text]::before {
    content: attr(data-text)
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    [data-short] span {
        display: none
    }

    [data-short]:before {
        content: attr(data-short)
    }
}

.scrollbar, .modal__scroll {
    --scrollbar-width: 5px;
    --scrollbar-track-width: 5px;
    --scrollbar-track-border-radius: 10px;
    --scrollbar-track-color: #ffffff;
    --scrollbar-scrollbar-thumb-color: #c1c1c1;
    --scrollbar-scrollbar-thumb-border-radius: 10px
}

    .scrollbar::-webkit-scrollbar, .modal__scroll::-webkit-scrollbar {
        width: var(--scrollbar-width)
    }

    .scrollbar::-webkit-scrollbar-track, .modal__scroll::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color);
        border-radius: var(--scrollbar-track-border-radius);
        width: var(--scrollbar-track-width)
    }

    .scrollbar::-webkit-scrollbar-thumb, .modal__scroll::-webkit-scrollbar-thumb {
        border-radius: var(--scrollbar-scrollbar-thumb-border-radius);
        background: var(--scrollbar-scrollbar-thumb-color)
    }

.props-list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

    .props-list.--grid-2 {
        column-count: 2;
        column-gap: 100px
    }

.props-list__item {
    align-items: baseline;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    page-break-inside: avoid;
    font-size: 15px;
    color: #000000
}

.props-list__title {
    align-items: baseline;
    display: flex;
    flex: 1;
    flex-grow: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 300;
    color: #646C73
}

.props-list__sep {
    border-bottom: 0px dotted #4b545b;
    content: "";
    flex-grow: 1;
    margin: 0 6px 0 2px;
    opacity: .25
}

.props-list__value {
    text-align: right
}

@media screen and (max-width: 640px) {
    .props-list {
        column-count: 1;
        column-gap: 20px
    }

        .props-list.--grid-2 {
            column-count: 1;
            column-gap: 20px
        }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s
}

.fade-enter, .fade-leave-to {
    opacity: 0
}

.mb1 {
    margin-bottom: 1rem
}

.input {
    --border-color: var(--color-input-stroke);
    --background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    box-sizing: border-box;
    background: var(--background-color);
    outline: none;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    border-radius: 8px
}

.input::placeholder {
    color: #858585;
    font-weight: 500
}

.input:disabled {
    cursor: default;
    --font-color: #000 !important;
    --border-color: #EDF1F6 !important;
    --background-color: #EDF1F6 !important
}

.input:focus {
    --border-color: var(--color-lilac-dark) !important;
    box-shadow: 0px 4px 10px rgba(21,32,101,0.2)
}

select.input {
    -webkit-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
    background-position: calc(100% - 1rem) center;
    background-repeat: no-repeat;
    max-width: 100%;
    display: block;
    padding-right: 2rem
}

textarea.input {
    resize: vertical;
    min-height: 120px
}

[data-copy] {
    position: relative;
    cursor: pointer
}

    [data-copy] input {
        display: block;
        width: 100%;
        padding-right: 2rem
    }

    [data-copy]:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 2V8C3 8.26522 3.10536 8.51957 3.29289 8.70711C3.48043 8.89464 3.73478 9 4 9H8C8.26522 9 8.51957 8.89464 8.70711 8.70711C8.89464 8.51957 9 8.26522 9 8V3.621C8.99998 3.48778 8.97335 3.35591 8.92166 3.23312C8.86997 3.11034 8.79427 2.99912 8.699 2.906L7.0415 1.285C6.85468 1.10233 6.60379 1.00003 6.3425 1H4C3.73478 1 3.48043 1.10536 3.29289 1.29289C3.10536 1.48043 3 1.73478 3 2V2Z' stroke='%236074EE' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 9V10C7 10.2652 6.89464 10.5196 6.70711 10.7071C6.51957 10.8946 6.26522 11 6 11H2C1.73478 11 1.48043 10.8946 1.29289 10.7071C1.10536 10.5196 1 10.2652 1 10V4.5C1 4.23478 1.10536 3.98043 1.29289 3.79289C1.48043 3.60536 1.73478 3.5 2 3.5H3' stroke='%236074EE' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60px;
        background-repeat: no-repeat;
        background-position: center right;
        display: flex;
        align-items: center;
        color: #6074EE;
        right: 12px;
        background-size: 14px;
        padding-right: 0px;
        font-size: 13px
    }

    [data-copy].copied input {
        padding-right: 80px
    }

    [data-copy].copied:after {
        content: 'Готово'
    }

.btn-v2, .drop .drop-submit {
    --ui-color: var(--color-btn-blue);
    --border-color: var(--ui-color);
    --background: var(--ui-color);
    --color: #fff;
    --font-size: 1em;
    --padding-top-bottom: 10px;
    --padding-left-right: 20px;
    --margin-inner: 10px;
    --icon-size: calc(1em * 1.15);
    --transition: 100ms;
    position: relative;
    transition: var(--animation);
    color: var(--color);
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background: var(--background);
    cursor: pointer;
    padding: var(--padding-top-bottom) var(--padding-left-right)
}

    .btn-v2:hover, .drop .drop-submit:hover {
        --ui-color: var(--color-btn-blue-light)
    }

    .btn-v2:focus, .drop .drop-submit:focus {
        --border-color: var(--ui-color) !important
    }

    .btn-v2.--pink, .drop .--pink.drop-submit {
        --ui-color: var(--color-btn-pink)
    }

        .btn-v2.--pink:hover, .drop .--pink.drop-submit:hover {
            --ui-color: var(--color-btn-pink-light)
        }

    .btn-v2 .icon, .drop .drop-submit .icon {
        --ui-icon-width: var(--icon-size);
        --fill: var(--color);
        fill: var(--color);
        margin: 0 calc(var(--margin-inner) / 2.5);
        box-sizing: border-box;
        transition: var(--transition);
        position: relative;
        top: -1px
    }

    .btn-v2 span, .drop .drop-submit span {
        color: var(--color);
        font-size: var(--font-size);
        margin: 0 calc(var(--margin-inner) / 2.5);
        line-height: 1em
    }

        .btn-v2 span .light, .drop .drop-submit span .light {
            font-weight: 400
        }

    .btn-v2:disabled:not(.--is-loading), .drop .drop-submit:disabled:not(.--is-loading) {
        cursor: default;
        --font-color: #c9c9c9 !important;
        --border-color: #f7f7f7 !important;
        --background-color: #f7f7f7 !important;
        --ui-color: #f7f7f7 !important;
        --color: #a3a3a3 !important
    }

    .btn-v2.--main, .drop .--main.drop-submit {
        --ui-color: #004494
    }

        .btn-v2.--main.--is-loading, .drop .--main.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--blue, .drop .--blue.drop-submit {
        --ui-color: #293479
    }

        .btn-v2.--blue.--is-loading, .drop .--blue.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--orange, .drop .--orange.drop-submit {
        --ui-color: #FF4D3D
    }

        .btn-v2.--orange.--is-loading, .drop .--orange.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--violet, .drop .--violet.drop-submit {
        --ui-color: #5565CF
    }

        .btn-v2.--violet.--is-loading, .drop .--violet.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--crimson, .drop .--crimson.drop-submit {
        --ui-color: #C71B59
    }

        .btn-v2.--crimson.--is-loading, .drop .--crimson.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--lilac, .drop .--lilac.drop-submit {
        --ui-color: #7D85B7
    }

        .btn-v2.--lilac.--is-loading, .drop .--lilac.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--lilac-dark, .drop .--lilac-dark.drop-submit {
        --ui-color: #6074EE
    }

        .btn-v2.--lilac-dark.--is-loading, .drop .--lilac-dark.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--gray, .drop .--gray.drop-submit {
        --ui-color: #9BA1A8
    }

        .btn-v2.--gray.--is-loading, .drop .--gray.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--smoke, .drop .--smoke.drop-submit {
        --ui-color: #B6C9D8
    }

        .btn-v2.--smoke.--is-loading, .drop .--smoke.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--smoke-2, .drop .--smoke-2.drop-submit {
        --ui-color: #EDF1F4
    }

        .btn-v2.--smoke-2.--is-loading, .drop .--smoke-2.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--black, .drop .--black.drop-submit {
        --ui-color: #000
    }

        .btn-v2.--black.--is-loading, .drop .--black.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--font, .drop .--font.drop-submit {
        --ui-color: #000
    }

        .btn-v2.--font.--is-loading, .drop .--font.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--gradient, .drop .--gradient.drop-submit {
        --ui-color: linear-gradient(122.31deg, #987BFF 5.83%, #5CC4FF 125.47%)
    }

        .btn-v2.--gradient.--is-loading, .drop .--gradient.--is-loading.drop-submit {
            --color: #fff
        }

    .btn-v2.--white, .drop .--white.drop-submit {
        --ui-color: #fff;
        --color: #000
    }

    .btn-v2.-compact, .drop .-compact.drop-submit {
        --margin-inner: 7px;
        font-size: 14px;
        padding: 10px 16px 9px
    }

@media screen and (max-width: 375px) {
    .btn-v2.-compact, .drop .-compact.drop-submit {
        padding: 10px 10px 9px
    }
}

.btn-v2.-compacter, .drop .-compacter.drop-submit {
    --margin-inner: 8px;
    font-size: 14px;
    padding: 8px 14px 7px
}

.btn-v2.-border-only, .drop .-border-only.drop-submit {
    --ui-color: #CCD7DE !important;
    --background: transparent;
    --color: #000
}

.btn-v2.-light, .drop .-light.drop-submit {
    --color: #000;
    --border-color: transparent;
    --background: #fff !important
}

.btn-v2.-shadow, .drop .-shadow.drop-submit {
    box-shadow: 0px 10px 30px rgba(23,50,104,0.1)
}

.btn-v2.-rouded, .drop .-rouded.drop-submit {
    border-radius: 20px
}

.btn-v2.-link, .drop .-link.drop-submit {
    padding: 0;
    margin: 0;
    --margin-inner: 0;
    --color: var(--ui-color);
    --border-color: transparent !important;
    --background: transparent !important
}

.btn-v2.-icon, .drop .-icon.drop-submit {
    --color: #000;
    --border-color: transparent !important;
    --background: transparent !important;
    --padding: 0px;
    --icon-size: 32px;
    padding: var(--padding);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 0
}

    .btn-v2.-icon svg.icon, .drop .-icon.drop-submit svg.icon {
        width: 100%;
        height: 100%
    }

.btn-v2.-file, .drop .-file.drop-submit {
    cursor: pointer
}

    .btn-v2.-file input[type=file], .drop .-file.drop-submit input[type=file], .btn-v2.-file input[type=image], .drop .-file.drop-submit input[type=image] {
        display: none
    }

.btn-v2.--is-loading, .drop .--is-loading.drop-submit {
    --fill: var(--color);
    --size: 1rem;
    position: relative;
    cursor: default
}

    .btn-v2.--is-loading *, .drop .--is-loading.drop-submit * {
        opacity: 0
    }

    .btn-v2.--is-loading span, .drop .--is-loading.drop-submit span {
        visibility: hidden
    }

    .btn-v2.--is-loading:before, .drop .--is-loading.drop-submit:before {
        opacity: 1;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border: 2px solid var(--fill);
        border-top-color: transparent;
        margin: -10px -10px;
        animation: rotating 600ms linear infinite;
        width: 16px;
        height: 16px;
        border-radius: 50%
    }

@keyframes rotating {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes hover {
    0% {
        transform: translateY(0%);
        opacity: 0
    }

    50% {
        transform: translateY(50%);
        opacity: 1
    }

    100% {
        transform: translateY(100%);
        opacity: 0
    }
}

.icon-btn {
    --ui-box-size: 30px;
    --ui-icon-width: 16px;
    --ui-border-color: transparent;
    --ui-filled-color: var(--color-pink);
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: var(--ui-box-size);
    height: var(--ui-box-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    border: 1px solid var(--ui-border-color)
}

    .icon-btn.--filled {
        background: var(--ui-filled-color);
        --ui-border-color: var(--ui-filled-color) !important
    }

        .icon-btn.--filled .icon {
            --fill: var(--ui-filled-color);
            --stroke: #fff
        }

.checkbox, .radio {
    --icon-size: 27px;
    --color: var(--color-blue);
    display: inline-flex;
    cursor: pointer;
    line-height: 1em;
    position: relative;
    align-items: center;
    align-content: center;
    appearance: none;
    width: auto
}

    .checkbox:not(.disabled):hover input:not(:checked), .checkbox:not(.disabled):hover input:not(:disabled), .radio:not(.disabled):hover input:not(:checked), .radio:not(.disabled):hover input:not(:disabled) {
        border: 1px solid var(--color-orange)
    }

    .checkbox input, .radio input {
        margin: 0px;
        outline: none;
        display: block;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 8px;
        width: var(--icon-size);
        height: var(--icon-size);
        border: 1px solid var(--color-smoke);
        background: #fff;
        position: relative;
        top: 0px
    }

@media screen and (max-width: 640px) {
    .checkbox input, .radio input {
        border: 1px solid var(--color-smoke) !important;
        background: #fff !important
    }
}

.checkbox input:disabled, .radio input:disabled {
    cursor: default;
    font-color: #c9c9c9 !important;
    border-color: #e7e7e7 !important;
    background-color: #f7f7f7 !important
}

.checkbox input:checked, .radio input:checked {
    border-color: var(--color-orange)
}

    .checkbox input:checked::before, .radio input:checked::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg  fill='%23FF4D3D' viewBox='0 -46 417.81333 417'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0'/%3E%3C/svg%3E")
    }

    .checkbox input:checked + span, .radio input:checked + span {
        font-weight: 600
    }

.checkbox span, .radio span {
    --padding-left: 10px;
    padding-left: var(--padding-left);
    box-sizing: border-box
}

.checkbox.disabled, .radio.disabled {
    --color: #bdbdbd;
    cursor: default
}

    .checkbox.disabled span, .radio.disabled span {
        color: var(--color)
    }

        .checkbox.disabled span *, .radio.disabled span * {
            color: var(--color) !important
        }

    .checkbox.disabled input, .radio.disabled input {
        background-color: var(--color-whitesmoke);
        cursor: default
    }

.radio input {
    border-radius: 50%
}

    .radio input::before {
        display: none
    }

    .radio input:checked {
        box-shadow: inset 0px 0px 0px 4px #fff,inset 0px 0px 0px 10px var(--color-orange)
    }

input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    background: var(--range-backgdound)
}

    input[type=range]:focus {
        outline: none
    }

    input[type=range]:disabled {
        opacity: 0.5
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: var(--range-track-height);
        color: red;
        background: var(--range-track-backgdound)
    }

    input[type=range]::-webkit-slider-thumb {
        width: var(--range-size);
        -webkit-appearance: none;
        height: var(--range-size);
        cursor: pointer;
        background: #fff;
        position: relative;
        transform: translateY(-50%);
        border-radius: 50%;
        background: var(--range-pin-color);
        box-shadow: 0 1px 2px 0 var(--range-pin-color)
    }

    input[type=range]::-webkit-progress-value {
        background-color: orange
    }

    input[type=range]::-moz-range-progress {
        background-color: #43e5f7
    }

    input[type=range]::-moz-range-track {
        background-color: #9a905d
    }

    input[type=range]::-ms-fill-lower {
        background-color: #43e5f7
    }

    input[type=range]::-ms-fill-upper {
        background-color: #9a905d
    }

.range {
    --range-color-main: var(--ui-color);
    --range-size: 18px;
    --range-backgdound: transparent;
    --range-track-backgdound: transparent;
    --range-pin-color: var(--color-main);
    --range-progress-color: var(--color-main);
    --range-track-color: transparent;
    --range-track-height: 2px;
    z-index: 1;
    position: relative;
    display: block;
    width: 100%;
    height: var(--range-track-height)
}

    .range input[type=range] {
        width: 100%;
        appearance: none;
        background: var(--range-track-color);
        height: var(--range-track-height);
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }

        .range input[type=range]:focus {
            outline: none
        }

        .range input[type=range]:disabled {
            opacity: 0.5
        }

        .range input[type=range]::-webkit-slider-runnable-track {
            height: var(--range-track-height);
            background: var(--range-track-color)
        }

        .range input[type=range]::-webkit-slider-thumb {
            width: var(--range-size);
            -webkit-appearance: none;
            height: var(--range-size);
            cursor: pointer;
            background: #fff;
            position: relative;
            transform: translateY(-50%);
            border-radius: 50%;
            background: var(--range-pin-color);
            box-shadow: 0 1px 2px 0 var(--range-pin-color);
            z-index: 2
        }

        .range input[type=range]::-webkit-progress-value {
            background-color: orange
        }

        .range input[type=range]::-moz-range-progress {
            background-color: #43e5f7
        }

        .range input[type=range]::-moz-range-track {
            background-color: #9a905d
        }

        .range input[type=range]::-ms-fill-lower {
            background-color: #43e5f7
        }

        .range input[type=range]::-ms-fill-upper {
            background-color: #9a905d
        }

.range-progress {
    position: absolute;
    height: var(--range-track-height);
    background: var(--range-progress-color);
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    max-width: 100%
}

.icon, svg.icon {
    --width: var(--ui-icon-width, 32px);
    --height: var(--width);
    --backgound-color: transparent;
    display: inline-flex;
    width: var(--width);
    height: var(--height);
    border: none;
    padding: 0;
    background: none;
    backgound-color: var(--backgound-color)
}

.drop {
    position: relative;
    z-index: 1;
    width: min-content
}

    .drop .drop-icon {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        transform-origin: center;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .drop .drop-btn {
        cursor: pointer;
        margin-bottom: 0
    }

        .drop .drop-btn input.--has-arrow {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
            padding-right: 15px;
            background-size: 8px
        }

        .drop .drop-btn.--has-arrow {
            position: relative;
            padding-right: 15px
        }

            .drop .drop-btn.--has-arrow:after {
                content: '';
                width: 8px;
                height: 5px;
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-3px)
            }

    .drop.w100 {
        width: 100%
    }

        .drop.w100 .drop-btn input {
            width: 100%
        }

    .drop .drop-container {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateY(5px);
        top: 100%;
        left: 0;
        padding-top: 10px;
        transition: 200ms;
        box-sizing: border-box;
        width: inherit
    }

        .drop .drop-container::before {
            content: '';
            position: absolute;
            left: 2em;
            top: 0;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 10px solid #fff
        }

    .drop .drop-content {
        min-width: 100%;
        background: #fff;
        padding: 1.2rem;
        box-shadow: 0px 4px 20px #0003;
        border-radius: 15px;
        box-sizing: border-box
    }

        .drop .drop-content a {
            display: flex;
            width: 100%;
            align-items: center
        }

            .drop .drop-content a:hover {
                font-weight: 600
            }

        .drop .drop-content section[label] {
            display: block;
            margin-bottom: 20px
        }

            .drop .drop-content section[label]:before {
                content: attr(label);
                display: block;
                margin-bottom: 10px;
                font-weight: 400;
                font-size: 13px;
                color: #222222;
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 5px
            }

            .drop .drop-content section[label]:last-child {
                border-bottom: 0px solid #ddd;
                padding-bottom: 0;
                margin-bottom: 0
            }

        .drop .drop-content .checkbox, .drop .drop-content .radio {
            --icon-size: 20px;
            width: 100%
        }

            .drop .drop-content .checkbox input:before, .drop .drop-content .radio input:before {
                background-size: 8px
            }

    .drop .drop-submit {
        position: fixed;
        top: calc(100% + 50px);
        right: 10px;
        left: 10px;
        display: none;
        --padding: 12px;
        --font-size: 14px
    }

    .drop a.drop-item {
        display: flex;
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
        line-height: 1em;
        box-sizing: border-box;
        width: max-content
    }

        .drop a.drop-item .icon {
            margin-right: 5px
        }

        .drop a.drop-item:hover {
            text-decoration: underline
        }

        .drop a.drop-item:last-child {
            margin-bottom: 0
        }

    .drop .drop-item.checkbox input, .drop .drop-item.radio input {
        top: 50%;
        transform: translateY(-50%)
    }

    .drop.--open {
        z-index: 100
    }

        .drop.--open .drop-container {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px)
        }

        .drop.--open .drop-icon {
            transform: translateY(-50%) rotate(180deg)
        }

    .drop.-full .drop-submit {
        display: flex
    }

    .drop.-full .drop-container {
        padding-bottom: 60px
    }

    .drop.-full .drop-submit {
        display: flex
    }

    .drop.-full .drop-container {
        padding-bottom: 60px
    }

.modal {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000047;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 200ms;
    box-sizing: border-box;
    padding: 2rem
}

    .modal.modal-opened {
        visibility: visible;
        opacity: 1
    }

    .modal:before {
        content: '';
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.4;
        background: linear-gradient(90deg, #6DC4FE, #8643FF, #6DC4FE)
    }

.modal__container {
    max-width: 1010px;
    min-width: 560px;
    display: block;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 30px 60px #07122766;
    border-radius: 40px;
    position: relative;
    z-index: 2;
    max-height: 100%;
    overflow: hidden;
    display: flex
}

.modal__scroll {
    max-height: 100%;
    width: 100%;
    overflow: auto
}

.modal__header {
    padding: 2rem 5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 18px
}

.modal__title {
    font-weight: 600;
    font-size: 24px;
    position: relative;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center
}

    .modal__title:before {
        content: '';
        background: url("/img/svg/logo-s.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        width: 50px;
        height: 40px
    }

.modal__close {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5897 8.95046L17.8797 1.66046C18.0435 1.46916 18.1291 1.22308 18.1194 0.971403C18.1096 0.719727 18.0053 0.480988 17.8272 0.302894C17.6491 0.124799 17.4104 0.0204662 17.1587 0.0107451C16.907 0.00102391 16.661 0.0866304 16.4697 0.250457L9.17966 7.54046L1.88966 0.240457C1.69836 0.0766302 1.45228 -0.00897537 1.20061 0.000745785C0.948932 0.0104669 0.710193 0.114799 0.532098 0.292893C0.354004 0.470988 0.249671 0.709727 0.23995 0.961403C0.230228 1.21308 0.315835 1.45915 0.479661 1.65046L7.76966 8.95046L0.469661 16.2405C0.364979 16.3301 0.279959 16.4404 0.219936 16.5645C0.159912 16.6886 0.126182 16.8237 0.120862 16.9614C0.115543 17.0991 0.138749 17.2365 0.189023 17.3648C0.239298 17.4931 0.315556 17.6097 0.413011 17.7071C0.510466 17.8046 0.627013 17.8808 0.755338 17.9311C0.883663 17.9814 1.021 18.0046 1.15871 17.9993C1.29643 17.9939 1.43157 17.9602 1.55563 17.9002C1.6797 17.8402 1.79001 17.7551 1.87966 17.6505L9.17966 10.3605L16.4697 17.6505C16.661 17.8143 16.907 17.8999 17.1587 17.8902C17.4104 17.8804 17.6491 17.7761 17.8272 17.598C18.0053 17.4199 18.1096 17.1812 18.1194 16.9295C18.1291 16.6778 18.0435 16.4318 17.8797 16.2405L10.5897 8.95046Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.modal__body {
    padding: 2rem 5rem;
    box-sizing: border-box
}

.modal__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end
}

.modal__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.notice {
    --padding: 30px;
    --icon-size: 28px;
    --icon-offset-top: 30px;
    --icon-offset-left: 30px;
    --text-left-padding: 70px;
    box-sizing: border-box;
    background: #F4F9FD;
    border-radius: 8px;
    padding: var(--padding);
    display: block;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #738FA5;
    position: relative
}

    .notice.-compact {
        background: transparent !important;
        font-size: 13px;
        --padding: 7px;
        --text-left-padding: 25px;
        --icon-size: 18px;
        --icon-offset-top: 12px;
        --icon-offset-left: 2px
    }

    .notice.-success, .notice.-error {
        padding-left: var(--text-left-padding)
    }

        .notice.-success:before, .notice.-error:before {
            position: absolute;
            left: var(--icon-offset-left);
            top: var(--icon-offset-top);
            content: '';
            width: var(--icon-size);
            height: var(--icon-size);
            transform: translateY(-5px);
            display: block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat
        }

    .notice.-success {
        background-color: #E4F6EB;
        color: #24AC5A
    }

        .notice.-success:before {
            background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9887 1.46812C16.5344 1.00328 15.9919 0.633921 15.3929 0.381745C14.7939 0.129569 14.1505 -0.000335693 13.5006 -0.000335693C12.8507 -0.000335693 12.2073 0.129569 11.6083 0.381745C11.0093 0.633921 10.4668 1.00328 10.0125 1.46812L8.96291 2.54474L7.46103 2.52618C6.81092 2.51849 6.16584 2.64086 5.56371 2.8861C4.96159 3.13135 4.41457 3.49451 3.95484 3.95424C3.49512 4.41397 3.13195 4.96098 2.88671 5.56311C2.64146 6.16524 2.51909 6.81032 2.52678 7.46043L2.54366 8.96231L1.47041 10.0119C1.00557 10.4662 0.63621 11.0087 0.384034 11.6077C0.131858 12.2067 0.00195313 12.8501 0.00195312 13.5C0.00195313 14.1499 0.131858 14.7933 0.384034 15.3923C0.63621 15.9913 1.00557 16.5338 1.47041 16.9881L2.54535 18.0377L2.52678 19.5396C2.51909 20.1897 2.64146 20.8348 2.88671 21.4369C3.13195 22.039 3.49512 22.586 3.95484 23.0457C4.41457 23.5055 4.96159 23.8686 5.56371 24.1139C6.16584 24.3591 6.81092 24.4815 7.46103 24.4738L8.96291 24.4569L10.0125 25.5302C10.4668 25.995 11.0093 26.3644 11.6083 26.6166C12.2073 26.8687 12.8507 26.9986 13.5006 26.9986C14.1505 26.9986 14.7939 26.8687 15.3929 26.6166C15.9919 26.3644 16.5344 25.995 16.9887 25.5302L18.0383 24.4552L19.5402 24.4738C20.1903 24.4815 20.8354 24.3591 21.4375 24.1139C22.0396 23.8686 22.5866 23.5055 23.0463 23.0457C23.5061 22.586 23.8692 22.039 24.1145 21.4369C24.3597 20.8348 24.4821 20.1897 24.4744 19.5396L24.4575 18.0377L25.5308 16.9881C25.9956 16.5338 26.365 15.9913 26.6172 15.3923C26.8693 14.7933 26.9992 14.1499 26.9992 13.5C26.9992 12.8501 26.8693 12.2067 26.6172 11.6077C26.365 11.0087 25.9956 10.4662 25.5308 10.0119L24.4558 8.96231L24.4744 7.46043C24.4821 6.81032 24.3597 6.16524 24.1145 5.56311C23.8692 4.96098 23.5061 4.41397 23.0463 3.95424C22.5866 3.49451 22.0396 3.13135 21.4375 2.8861C20.8354 2.64086 20.1903 2.51849 19.5402 2.52618L18.0383 2.54306L16.9887 1.46981V1.46812ZM17.473 11.5661L12.4105 16.6286C12.3321 16.7072 12.239 16.7695 12.1365 16.8121C12.034 16.8546 11.9241 16.8765 11.8131 16.8765C11.7021 16.8765 11.5922 16.8546 11.4897 16.8121C11.3872 16.7695 11.2941 16.7072 11.2157 16.6286L8.68447 14.0974C8.60602 14.0189 8.54379 13.9258 8.50134 13.8233C8.45888 13.7208 8.43703 13.6109 8.43703 13.5C8.43703 13.3891 8.45888 13.2792 8.50134 13.1767C8.54379 13.0742 8.60602 12.9811 8.68447 12.9026C8.76292 12.8242 8.85605 12.7619 8.95855 12.7195C9.06105 12.677 9.1709 12.6552 9.28185 12.6552C9.39279 12.6552 9.50264 12.677 9.60514 12.7195C9.70764 12.7619 9.80077 12.8242 9.87922 12.9026L11.8131 14.8382L16.2782 10.3714C16.4367 10.2129 16.6515 10.1239 16.8756 10.1239C17.0997 10.1239 17.3145 10.2129 17.473 10.3714C17.6314 10.5298 17.7204 10.7447 17.7204 10.9687C17.7204 11.1928 17.6314 11.4077 17.473 11.5661Z' fill='%234DB877'/%3E%3C/svg%3E%0A")
        }

    .notice.-error {
        background-color: #ffe9f1;
        color: #C71B59
    }

        .notice.-error:before {
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6867 1.70144L20.3877 12.8624C21.3507 14.4654 20.8777 16.5744 19.3307 17.5724C18.8115 17.9086 18.2063 18.0878 17.5877 18.0884H4.18472C2.36372 18.0884 0.886719 16.5584 0.886719 14.6694C0.886719 14.0304 1.05972 13.4054 1.38472 12.8624L8.08672 1.70144C9.04872 0.0984356 11.0827 -0.392564 12.6297 0.605436C13.0577 0.881436 13.4197 1.25644 13.6867 1.70144ZM10.8867 14.0884C11.1519 14.0884 11.4063 13.9831 11.5938 13.7955C11.7814 13.608 11.8867 13.3537 11.8867 13.0884C11.8867 12.8232 11.7814 12.5689 11.5938 12.3813C11.4063 12.1938 11.1519 12.0884 10.8867 12.0884C10.6215 12.0884 10.3671 12.1938 10.1796 12.3813C9.99208 12.5689 9.88672 12.8232 9.88672 13.0884C9.88672 13.3537 9.99208 13.608 10.1796 13.7955C10.3671 13.9831 10.6215 14.0884 10.8867 14.0884ZM10.8867 5.08844C10.6215 5.08844 10.3671 5.19379 10.1796 5.38133C9.99208 5.56887 9.88672 5.82322 9.88672 6.08844V10.0884C9.88672 10.3537 9.99208 10.608 10.1796 10.7955C10.3671 10.9831 10.6215 11.0884 10.8867 11.0884C11.1519 11.0884 11.4063 10.9831 11.5938 10.7955C11.7814 10.608 11.8867 10.3537 11.8867 10.0884V6.08844C11.8867 5.82322 11.7814 5.56887 11.5938 5.38133C11.4063 5.19379 11.1519 5.08844 10.8867 5.08844Z' fill='%23D51E60'/%3E%3C/svg%3E%0A")
        }

.form-v2-title {
    display: block;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-blue);
    margin-bottom: 1.5rem
}

.form-v2-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 3rem;
    box-sizing: border-box
}

.form-v2-cell {
    display: flex;
    align-items: center;
    --title-width: 180px;
    display: grid;
    grid-template-columns: var(--title-width) 1fr
}

    .form-v2-cell.w100 {
        grid-column: 1 / -1
    }

.form-v2-cell__title {
    color: var(--color-lilac);
    font-weight: 400;
    font-size: 13px
}

.form-v2-cell__value {
    box-sizing: border-box
}

    .form-v2-cell__value .input,
    .form-v2-cell__value .btn-v2,
    .form-v2-cell__value .drop .drop-submit,
    .drop .form-v2-cell__value .drop-submit,
    .form-v2-cell__value select {
        width: 100%
    }

    .form-v2-cell__value small {
        display: block
    }

.form-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}

    .form-footer .form-btn {
        border-radius: 10px;
        --padding-top-bottom: 16px
    }

.form-v2.form-l .form-v2-cell {
    grid-template-columns: 1fr
}

.form-v2.form-l .form-v2-cell__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    display: block;
    margin-bottom: 5px
}

.form-v2.form-l .form-v2-cell__value {
    width: 100%;
    box-sizing: border-box
}

.form-v2.form-l .form-v2-cell .input, 
.form-v2.form-l .form-v2-cell .btn-v2, 
.form-v2.form-l .form-v2-cell .drop .drop-submit, 
.drop .form-v2.form-l .form-v2-cell .drop-submit {
    padding: 1rem;
    margin-bottom: 10px
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Regular.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-LightIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-LightIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-LightIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-LightIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Regular.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Light.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Semibold.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-RegularIt.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Light.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-ExtrabldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-SemiboldIt.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Semibold.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-Extrabld.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff2") format("woff2"),url("/fonts/ProximaNova/subset-ProximaNova-ThinIt.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

h1, .h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 1em;
    color: #000000;
    display: block;
    padding: 0;
    margin: 0 0 1rem
}

h2, .h2, .information__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    line-height: 1em;
    color: #000000;
    display: block;
    padding: 0;
    margin: 0 0 1rem
}

h3, .h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1em;
    color: #000000;
    display: block;
    padding: 0;
    margin: 0 0 1rem
}

body {
    background: #F4F9FD
}

.shadow, .header, .aside {
    box-shadow: 0px 10px 30px rgba(23,50,104,0.1)
}

.header {
    background: #fff
}

.header-container {
    display: grid;
    grid-template-columns: 198px 1fr 160px 90px 100px;
    padding: 1rem 0;
    align-items: center;
    gap: 1rem
}

.header-logo {
    height: 42px
}

.logo {
    display: block
}

    .logo svg {
        display: block;
        width: 100%;
        height: 100%
    }

.nav {
    display: flex;
    width: 100%;
    gap: 0 2rem;
    justify-content: center;
    align-items: center
}

.nav-item {
    position: relative
}

    .nav-item a {
        display: flex;
        font-size: 16px
    }

        .nav-item a .icon {
            --ui-icon-width: 16px;
            margin: 0 2px
        }

        .nav-item a:hover {
            font-weight: 600;
            font-size: 15.78px
        }

.nav-item__link {
    display: block
}

.nav-item__childs {
    display: none
}

.--arrow-down {
    position: relative;
    padding-right: 15px
}

    .--arrow-down:after {
        content: '';
        width: 8px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-3px)
    }

.profile {
    display: flex;
    justify-content: center
}

.profile__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600
}

    .profile__btn .icon {
        --ui-icon-width: 10px
    }

    .profile__btn span {
        border-bottom: 1px solid #5CB1FF;
        padding: 2px 0
    }

.lang {
    display: flex;
    justify-content: center
}

.lang__btn {
    display: flex
}

    .lang__btn svg.icon {
        width: 26px;
        height: 18px;
        border: 1px solid #f3f3f3;
        box-sizing: border-box;
        margin: 0;
        padding: 0
    }

.wrapper {
    padding-top: 50px
}

.wrapper__header {
    display: grid;
    grid-template-columns: 1fr 300px;
    margin-bottom: 2rem;
    align-items: center
}

.wrapper__header-title {
    font-style: normal;
    font-weight: 600;
    font-size: 33px
}

.wrapper__header-controlls {
    justify-content: flex-end;
    display: flex
}

html, body, #app {
    display: block;
    width: 100%;
    height: 100%
}

.welcome {
    background: url("/img/svg/background.svg") no-repeat center;
    width: 100%;
    height: 100%
}

    .welcome .layer {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }

.welcome-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 440px;
    width: 100%
}

.welcome-container__picture {
    max-width: 700px;
    margin-bottom: 50px;
    filter: drop-shadow(0px 26px 60px rgba(0,0,0,0.258824))
}

    .welcome-container__picture img {
        display: block;
        max-width: 100%
    }

.welcome-container__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    max-width: 320px
}

    .welcome-container__text img {
        display: block;
        margin-bottom: 1rem
    }

    .welcome-container__text b {
        display: block;
        margin-top: 1rem;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        color: #E7EFF5
    }

.login {
    background: #fff;
    border-radius: 40px
}

.login__header {
    padding: 1.5rem 4rem;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    justify-content: center
}

.login__header-logo {
    display: flex;
    align-items: center
}

.login__form {
    padding: 3rem 4rem
}

.login__form-title {
    font-weight: 600;
    font-size: 33px;
    color: #000000;
    display: block;
    margin-bottom: 10px
}

.login__form-subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #98A2A8
}

.login__form-input span {
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px
}

.login__form-input .input, .login__form-input .btn-v2, .login__form-input .drop .drop-submit, .drop .login__form-input .drop-submit {
    display: block;
    width: 100%;
    margin-bottom: 1px;
    border-radius: 5px;
    padding: 14px 20px
}

.login__form-input small {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #98A2A8
}

.login__form-checkbox {
    --icon-size: 22px
}

    .login__form-checkbox input {
        border-radius: 5px
    }

.login__form-submit .btn-v2, .login__form-submit .drop .drop-submit, .drop .login__form-submit .drop-submit {
    --padding-top-bottom: 16px;
    border-radius: 5px
}

.login__form-links a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #98A2A8;
    margin-bottom: 5px
}

    .login__form-links a:hover {
        text-decoration: underline;
        color: #000
    }

.footer-container {
    display: grid;
    grid-template-columns: 200px 445px 1fr;
    gap: 4rem;
    box-sizing: border-box;
    padding: 2rem 0;
    border-top: 1px solid #ddd
}

.footer-container-main {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #A8B1BE
}

.footer-container-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #393A3D
}

.box, .aside {
    box-sizing: border-box;
    padding: 3rem;
    background: #fff
}

.data-container {
    min-height: 500px;
    display: block;
    margin-bottom: 2rem
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(250px, 300px) 1fr;
    gap: 2rem;
    margin-bottom: 2rem
}

.grid-container__body {
    border-radius: 15px;
    position: relative
}

    .grid-container__body:after {
        content: '';
        background: url("/img/svg/logo-rotated.svg");
        width: 28px;
        height: 140px;
        position: absolute;
        right: 10px;
        bottom: 10px
    }

.aside {
    padding: 0;
    border-radius: 30px
}

.aside-header {
    padding: 2rem 3rem;
    border-bottom: 1px solid #ddd
}

.aside-body {
    padding: 2rem 3rem;
    position: relative
}

.aside-logo {
    display: block;
    margin: 0 auto 1rem
}

    .aside-logo img {
        display: block;
        margin: 0 auto;
        max-width: 130px;
        width: 100%
    }

.aside-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    line-height: 1em;
    margin-bottom: 10px
}

.aside-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1rem;
    color: #98A2A8
}

.aside-nav {
    display: block;
    margin-bottom: 2rem
}

.aside-nav__item {
    display: grid;
    width: 100%;
    grid-template-columns: 30px 1fr;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1em;
    color: #000000;
    align-items: center;
    margin-bottom: 1rem
}

    .aside-nav__item .icon {
        --ui-icon-width: 20px
    }

    .aside-nav__item:last-child {
        margin-bottom: 0
    }

    .aside-nav__item.-active {
        font-weight: 700;
        color: var(--color-violet)
    }

.aside-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center
}

.information {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3rem
}

.information__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3em;
    color: #98A2A8;
    display: block;
    margin-bottom: 2rem
}
