﻿
@{
    ViewData["Title"] = "Сервисы";
}

<h2>Сервисы</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.services>()
    .DataSource(ds => ds.Mvc()
        .Controller("Service")
        .LoadAction("Get")
        .Key("id")
    )    
    .Columns(columns => {

        columns.AddFor(m => m.id).Visible(false);

        columns.AddFor(m => m.descr);

        columns.AddFor(m => m.idm_device_type)
        .Lookup(lookup => lookup
                            .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id"))
                            .ValueExpr("id")
                            .DisplayExpr("descr")
                        )
        .EditCellTemplate(new TemplateName("DDBTemplateType"))
        .Width("15%");

        columns.AddFor(m => m.date_last_available);

        columns.AddFor(m => m.guid);
    })
)
@*типы приборов*@
@using (Html.DevExtreme().NamedTemplate("DDBTemplateType"))
{
    @(Html.DevExtreme().DropDownBox()
                .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id").LoadParams(new { id = new JS("data.idm_device_type") }) )
                .Value(new JS("value"))
                .ValueExpr("id")
                .DisplayExpr("descr")
                .DropDownOptions(options => options.Width(500))
                .Option("setValue", new JS("setValue"))
                .ContentTemplate(new TemplateName("ContentTypeTemplate"))
                )
}