﻿@{
    //if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    //{
    //    Layout = (string)parentLayout;
    //}
    //else
    //{
    //    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    //}
    Layout = "/Views/Shared/_Layout.cshtml";
}

@*<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
////////*@

@*<div class="grid-container">
    <div class="grid-container__aside  ">
        <div class="aside">
            <div class="aside-header">
                <div class="aside-logo logo"><img src="/img/svg/logo-s.svg"></div>
                <div class="aside-title">Настройте свой аккаунт</div>
                <div class="aside-subtitle">Измените настройки своей учетной записи</div>
            </div>
            <partial name="_ManageNav" />
        </div>

        @RenderBody()

    </div>

    
</div>*@



<div class="grid-container">

    <partial name="_ManageNav" />

    <div class="grid-container__body box">

        @RenderBody()

    </div>
</div>












@section Scripts {
    @RenderSection("Scripts", required: false)
}
