﻿@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<div class="grid-container__aside  ">
    <div class="aside">
        <div class="aside-header">
            <div class="aside-logo logo"><img src="/img/svg/logo-s.svg"></div>
            <div class="aside-title">Настройте свой аккаунт</div>
            <div class="aside-subtitle">Измените настройки своей учетной записи</div>
        </div>
        <div class="aside-body">
            <div class="aside-nav">
                <a asp-page="./Index" class="aside-nav__item -@ManageNavPages.IndexNavClass(ViewContext)">
                    <svg class="icon"><use xlink:href="/img/spritemap.svg#profile"></use></svg>
                    <span>Профиль</span>
                </a>
                <a asp-page="./Email" class="aside-nav__item -@ManageNavPages.EmailNavClass(ViewContext)">
                    <svg class="icon"><use xlink:href="/img/spritemap.svg#email"></use></svg>
                    <span>Электронный адрес</span>
                </a>
                <a asp-page="./ChangePassword" class="aside-nav__item -@ManageNavPages.ChangePasswordNavClass(ViewContext)">
                    <svg class="icon"><use xlink:href="/img/spritemap.svg#password"></use></svg>
                    <span>Пароль</span>
                </a>
                <a asp-page="./PersonalData" class="aside-nav__item -@ManageNavPages.PersonalDataNavClass(ViewContext)">
                    <svg class="icon"><use xlink:href="/img/spritemap.svg#info"></use></svg>
                    <span>Персональные данные</span>
                </a>
            </div>

            <div class="aside-buttons">

                <button class="btn -rounded -border-only"> <span>Выйти</span></button>
            </div>
        </div>
    </div>


</div>




<!--<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профиль</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }-->
    @*<li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>*@
    <!--<li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>-->
