﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Смена пароля";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
@*<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>*@



<form class="login__form prevent" id="change-password-form" method="post">
    
        <div class="login__form-input mb1">
            <span>Текущий пароль</span>
            <input asp-for="Input.OldPassword" type="password" class="ccStyle input" required />
            <div><span asp-validation-for="Input.OldPassword" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        <div class="login__form-input mb1">
            <span>Новый пароль</span> <input asp-for="Input.NewPassword" type="password" class="ccStyle input" required />
            <div><span asp-validation-for="Input.NewPassword" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        <div class="login__form-input mb1">
            <span>Подтверждение пароля</span>
            <input asp-for="Input.ConfirmPassword" type="password" class="ccStyle input" required />
            <div><span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>

        @*<div class="login__form-submit mb1">
            <button class="btn --orange w100" type="submit"><span>Обновить пароль</span></button>
        </div>*@
    
    <div class="form-footer">
        <button class="btn-v2 form-v2-btn -border-only" type="button"><span>Отменить изменения</span></button>
        <button class="btn-v2 form-v2-btn --orange" type="submit"><span>Сохранить</span></button>
    </div>

</form>














@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}