﻿@page
@model EmailModel
@{
    ViewData["Title"] = "Электронный адрес";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@*<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form-v2 id="email-form-v2" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-v2-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-v2-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-v2-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
            <div class="form-v2-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="form-v2-control" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
        </form-v2>
    </div>
</div>*@




<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="notice">Пожалуйста, будьте внимательны при заполнении данных</div>
<h3>@ViewData["Title"]</h3>

<form-v2 class="form-v2 form-l prevent">
    <div class="form-v2-row ">
        <div class="form-v2-cell ">
            <span class="form-v2-cell__title">Email</span>
            <div class="form-v2-cell__value">
                <input type="text" class="input w100" asp-for="Email" >
                <div> </div>
                @if (Model.IsEmailConfirmed)
                {
                <div class="notice -success -compact">Email подтверждён</div>
                }
                else
                {
                    <div class="notice -error -compact">Требуется подтверждение!</div>
                }
                
            </div>

        </div>

        <div class="form-v2-cell">
            <span class="form-v2-cell__title">Новый Email</span>
            <div class="form-v2-cell__value">
                <input type="tel" class="input w100" asp-for="Input.NewEmail" >                
                <div><span asp-validation-for="Input.NewEmail" class="text-danger"></span></div>
            </div>

        </div>
    </div>

    <div class="form-v2-footer">
        <button class="btn-v2 form-v2-btn -border-only" type="button"><span>Отменить изменения</span></button>
        <button class="btn-v2 form-v2-btn --orange" type="submit" asp-page-handler="ChangeEmail"><span>Сохранить</span></button>
    </div>
</form-v2>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
