﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@*<h4>@ViewData["Title"]</h4>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form-v2 id="profile-form-v2" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-v2-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-v2-control" disabled />
                </div>
                <div class="form-v2-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-v2-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form-v2>
        </div>
    </div>*@


<div class="notice">Пожалуйста, будьте внимательны при заполнении данных</div>
<h3>@ViewData["Title"]</h3>

<form class="form-v2 form-l prevent" id="profile-form" method="post">
    <div class="form-v2-row ">
        <div class="form-v2-cell ">
            <span class="form-v2-cell__title">Имя пользователя</span>
            <div class="form-v2-cell__value">
                <input type="text" class="input w100" name="name" placeholder="Простой текст" required value="@Model.Username">
                <small>Пожалуйста, представьтесь</small>

                <div class="notice -success -compact">Имя не может быть пустым</div>
            </div>

        </div>

        <div class="form-v2-cell">
            <span class="form-v2-cell__title">Номер телефона</span>
            <div class="form-v2-cell__value">
                <input type="tel" name="Input.PhoneNumber" class="input w100" placeholder="Простой текст" value="@Model.PhoneNumber" >
                <small>Номер для уведомлений и восстановления пароля</small>
                <div class="notice -error -compact">Номер телефона введен не верно!</div>
            </div>

        </div>
    </div>

    <div class="form-v2-footer">
        <button class="btn-v2 form-v2-btn -border-only" type="button"><span>Отменить изменения</span></button>
        <button id="update-profile-button" class="btn-v2 form-v2-btn --orange" type="submit"><span>Сохранить</span></button>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
