﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@*<h4>@ViewData["Title"]</h4>*@

@*<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Delete</a>
        </p>
    </div>
</div>*@









<div class="information">
    <div class="information__picture">
        <img src="/img/svg/server.svg">
    </div>
    <div class="information__body">
        <div class="information__title h1">Персональные данные </div>
        <div class="information__subtitle">Ваша учетная запись содержит персональные данные, которые вы нам предоставили. Эта страница позволяет вам удалять эти данные.</div>
        <div class="information__text">

            <div class="notice -error -compact">Удаление этих данных навсегда удалит вашу учетную запись, и это невозможно восстановить.</div>
        </div>
    </div>
</div>

<form class="form-v2 form-v2-l " id="download-data" method="post" asp-page="DownloadPersonalData">
    <div class="form-v2-footer">
        <button class="btn-v2 form-v2-btn -border-only" type="submit"><span>Загрузить</span></button>

        <button id="delete" asp-page="DeletePersonalData" class="btn-v2 form-v2-btn --orange" type="button" data-modal-open="remove-data"><span>Удалить</span></button>
    </div>
</form>



<div class="modal" data-name="remove-data">
    <div class="modal__container">
        <div class="modal__scroll">
            <div class="modal__header">
                <div class="modal__title">
                    Подтвердите удаление
                </div>
                <div class="modal__close" data-close></div>
            </div>
            <div class="modal__body">

                <div class="mb2">
                    <p>Вы подтверждаете удаление данных?</p>
                </div>


                <form class="prevent" data-close-after="remove-data" data-redirect="/">
                    <div class="modal__buttons">
                        
                        <a asp-page="DeletePersonalData" class="btn-v2 --orange" type="submit" id="delete"><span>Удалить</span></a>

                    </div>
                </form>


            </div>

        </div>

    </div>
    <div class="modal__overlay"></div>

</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
