﻿@{
    ViewData["Title"] = "Аварии";

}

<h2>Аварии закрытые</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.alarms>()
    .DataSource(ds => ds.Mvc()
        .Controller("Alarm")
        .LoadAction("GetClosed")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .Paging(p => p.PageSize(25))
            .Pager(p => p
                .ShowPageSizeSelector(true)
                .AllowedPageSizes(new[] { 25, 50, 75, 100 })
            )
    .ShowBorders(true).Columns(columns => {

        columns.AddFor(m => m.id).Visible(false);
        columns.AddFor(m => m.date_start).Format("d.MM.yyyy HH:mm");


        //columns.AddFor(m => m.date_in).Format("d.MM.yyyy HH:mm");

        //      columns.AddFor(m => m.idm_raw);

        //    columns.AddFor(m => m.id_unique);

        columns.AddFor(m => m.idm_device)
        .Lookup(lookup => lookup
                            .DataSource(d => d.Mvc().Controller("Device").LoadAction("Get").Key("id"))
                            .ValueExpr("id")
                            .DisplayExpr("descr")
                        )
        .EditCellTemplate(new TemplateName("DDBTemplateType"))
        .Width("15%");

        columns.AddFor(m => m.device_name);

        columns.AddFor(m => m.alarm_text);

        columns.AddFor(m => m.alarm_class).Width("15%");

        columns.AddFor(m => m.status).Width("5%");

        columns.AddFor(m => m.idm_priotity).Width("5%");


        columns.AddFor(m => m.date_end).Format("d.MM.yyyy HH:mm");

        columns.AddFor(m => m.sec_live_time).Width("8%");

        //        columns.AddFor(m => m.guid);
        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-check-circle").Text("Просмотр").CssClass("txt-color-blue");

        });
    })
    .MasterDetail(md => {
    md.Enabled(true);
    md.Template(@<text>
            @(
            Html.DevExtreme().DataGrid<CloudControl.Models.alarms>()
            .DataSource(ds => ds.Mvc()
            .Controller("Alarm")
            .LoadAction("Get")
            .LoadParams(new { id = new JS("data.id") })
            )
            .Selection(s => s.Mode(SelectionMode.Single))
            .HoverStateEnabled(true)
            .ShowBorders(true)
            
            .Columns(c => {

                c.AddFor(m => m.alarm_text);
                c.AddFor(m => m.date_start).Format("d.MM.yyyy HH:mm");
                c.AddFor(m => m.date_end).Format("d.MM.yyyy HH:mm");

            })
            )
        </text>);
    })



)
@*типы приборов*@
@using (Html.DevExtreme().NamedTemplate("DDBTemplateType"))
{
    @(Html.DevExtreme().DropDownBox()
                .DataSource(d => d.Mvc().Controller("Device").LoadAction("Get").Key("id").LoadParams(new { id = new JS("data.idm_device") }) )
                .Value(new JS("value"))
                .ValueExpr("id")
                .DisplayExpr("descr")
                .DropDownOptions(options => options.Width(500))
                .Option("setValue", new JS("setValue"))
                .ContentTemplate(new TemplateName("ContentTypeTemplate"))
                )
}
