﻿@{
    ViewData["Title"] = "Открытые аварии";
}
@section ExternalDependencies {
    
    <script src="~/lib/excel/exceljs.min.js"></script>
    <script src="~/lib/excel/FileSaver.min.js"></script>
    <script src="~/lib/excel/polyfill.min.js"></script>

}

<h2>Аварии открытые</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.v_open_alarms>()
.DataSource(ds => ds.Mvc()
    .Controller("Alarm")
    .LoadAction("Get")
    .Key("id")
)
.Export(e => e.Enabled(true).AllowExportSelectedData(true).FileName("Аварии открытые"))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.Selection(s => s.Mode(SelectionMode.Single))
.HoverStateEnabled(true)
.OnCellPrepared("cellPrepared")
.Paging(p => p.PageSize(25))
        .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 25, 50, 75, 100 })
        )


.ShowBorders(true)
.Columns(columns => {

columns.AddFor(m => m.id).Visible(false);
columns.AddFor(m => m.date_start).Format("d.MM.yyyy HH:mm");
    //columns.AddFor(m => m.date_in).Format("d.MM.yyyy HH:mm");

    //      columns.AddFor(m => m.idm_raw);

    //    columns.AddFor(m => m.id_unique);

    //columns.AddFor(m => m.idm_device)
    //.Lookup(lookup => lookup
    //                    .DataSource(d => d.Mvc().Controller("Device").LoadAction("Get").Key("id"))
    //                    .ValueExpr("id")
    //                    .DisplayExpr("descr")
    //                )
    //.EditCellTemplate(new TemplateName("DDBTemplateType"))
    //.Width("15%");

    columns.AddFor(m => m.object_name);
    columns.AddFor(m => m.device_name).Visible(true);

columns.AddFor(m => m.alarm_text);

columns.AddFor(m => m.alarm_class).Width("15%");

columns.AddFor(m => m.status).Width("5%")
    .CellTemplate(@<text>
                <i class="<%- data.status_icon %> <%- data.sec_live_time > data.send_timeout ? "txt-color-red" : "" %>" title="<%- data.status_description %>"></i>
                <i class="<%- data.itsm_status_icon %>" title="<%- data.itsm_status_description %>"></i>
        </text>)
        ;

        columns.AddFor(m => m.idm_priotity).Width("5%");

        //columns.AddFor(m => m.link_devices_priorities.sec_reset).Width("5%");

        columns.AddFor(m => m.live_time).Width("10%");
        columns.AddFor(m => m.guid).Visible(false);
        columns.AddFor(m => m.number).Width("8%");

        columns.AddFor(m => m.itsm_status_description).Visible(false);
        columns.AddFor(m => m.itsm_date_delivery).Visible(false);
        columns.AddFor(m => m.itsm_date_send).Visible(false);
        columns.AddFor(m => m.date_end_ro).Visible(false);
        columns.AddFor(m => m.date_start_ro).Visible(false);
        columns.AddFor(m => m.device_model).Visible(false);
        columns.AddFor(m => m.device_id).Visible(false);
        columns.AddFor(m => m.unit_name).Visible(false);



        //        columns.AddFor(m => m.guid);
        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-eye").Text("Просмотр").CssClass("txt-color-blue");


        });

    })
    //.OnEditorPreparing("OnEditorPreparing")
    .Editing(
            e => e.AllowUpdating(true)
                //.Texts(t => t.SaveRowChanges)

                .Mode(GridEditMode.Popup)
                .UseIcons(true)
                .Popup(p => p
                    .ID("alarm_detail")
                    .Title("Детали")
                    .ShowTitle(true)
                    .Width(600)
                    .Height(700)
                    .ShowCloseButton(true)
                    .CloseOnOutsideClick(true)
                    //.OnShowing("OnEditorPreparing")
                    .ToolbarItems(t => {
                        t.Add()
                            @*.Toolbar(Toolbar.Bottom)
                            .Location(ToolbarItemLocation.After)
                            .Widget(widget => widget.Button()
                                    .Text("Закрыть")
                                    .OnClick(@<text>CloseDetail()</text>)
                                    )*@
                            ;

                    })
                )

                .Form(f => f

                //.Disabled(true)
                .Items
                    (
                        items =>
                        {
                            items.AddGroup()
                                .Caption("Источник аварии")
                                .ColCount(2)
                                .ColSpan(2)
                                .Items(groupItems =>
                                {
                                    groupItems.AddSimpleFor(m => m.object_name).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.device_name).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.device_model).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.device_id).Editor(e => e.TextBox().Disabled(false));

                                    groupItems.AddSimpleFor(m => m.alarm_class).Editor(e => e.TextBox().Disabled(false)).ColSpan(2);
                                    groupItems.AddSimpleFor(m => m.id).Visible(false);
                                });
                            items.AddGroup()
                                .Caption("Дата и время")
                                .ColCount(2)
                                .ColSpan(2)
                                .Items(groupItems =>
                                {
                                    //groupItems.AddSimpleFor(m => m.date_start).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.date_start_ro).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.date_end_ro).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.sec_live_time).Editor(e => e.TextBox().Disabled(false));

                                });
                            items.AddGroup()
                                .Caption("Детали")
                                .ColCount(1)
                                .ColSpan(2)
                                .Items(groupItems =>
                                {

                                    groupItems.AddSimpleFor(m => m.alarm_text).Editor(e => e.TextArea().Height(50).Disabled(false));
                                    groupItems.AddSimpleFor(m => m.guid).Editor(e => e.TextBox().Disabled(false));
                                    groupItems.AddSimpleFor(m => m.number).Editor(e => e.TextBox().Disabled(false));

                                });

                            items.AddGroup()
                                .Caption("Реакция")
                                .ColCount(2)
                                .ColSpan(2)
                                .Items(groupItems =>
                                {

                                    //groupItems.AddSimpleFor(m => m.alarm_text).Editor(e => e.TextArea().Height(150).Disabled(false));
                                    groupItems.AddSimpleFor(m => m.itsm_status_description).Editor(e => e.TextBox()).ColSpan(2);
                                    groupItems.AddSimpleFor(m => m.itsm_date_send).Editor(e => e.TextBox()).ColSpan(1);
                                    groupItems.AddSimpleFor(m => m.itsm_date_delivery).Editor(e => e.TextBox()).ColSpan(1);


                                });

                            //items.AddButton()
                            //.ButtonOptions(b => b.)

                        }


                    )
                //.ElementAttr(ButtonStylingMode.Outlined)

                )
            )


)
@*типы приборов*@
@using (Html.DevExtreme().NamedTemplate("DDBTemplateType"))
{
    @(Html.DevExtreme().DropDownBox()
                .DataSource(d => d.Mvc().Controller("Device").LoadAction("Get").Key("id").LoadParams(new { id = new JS("data.idm_device") }) )
                .Value(new JS("value"))
                .ValueExpr("id")
                .DisplayExpr("descr")
                .DropDownOptions(options => options.Width(500))
                .Option("setValue", new JS("setValue"))
                .ContentTemplate(new TemplateName("ContentTypeTemplate"))
                )
}



<script>
    function OnEditorPreparing(e) {
        console.log("editor", e);
        e.component.options.toolbarItems = {};
    }

    function CloseDetail() {
        //console.log("CloseDetail", e);
        $("#alarm_detail").hide();
        //e.component.options.toolbarItems = {};
    }



    function cellPrepared(e) {

        if (e.rowType === 'data') {
            if (e.column.dataField === 'status') {
                //console.log(e);
                if (e.data.sec_live_time > e.data.send_timeout) {
                    //e.cellElement.css({ 'background-color': "	#db5e5e", 'color': '#000' });

                }

            }
            //if (e.column.dataField === 'task_status') {
            //    //                console.log(e);
            //    //                e.cellElement.class = '<span class="'+e.data.request_status_icon+'"></span>';
            //    e.cellElement.css({ 'background-color': e.data.task_status_color, 'color': '#000' });
            //}
            //if (e.column.dataField === 'request_status_icon') {
            //    e.cellElement.css({ 'color': e.data.request_status_color });
            //}
        }
    }

</script>