﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using CloudControl.Models
@model List<CloudControl.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Роли полльзователя</h1>
<div>
    <a href="#" class="btn btn-primary">Новый пользователь</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>                
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                </td>
                <td>
                    @{ 
                        string bnt_text = "Off";
                        string btn_class = "btn-primary";
                        if (user.Lockout)
                        {
                            bnt_text = "Off";
                            btn_class = "btn-danger";
                        }
                        else{
                            bnt_text = "On";
                            btn_class = "btn-success";
                        }
                    }
                    <a class="btn @btn_class" asp-controller="Admin" asp-action="UserOff" asp-route-userId="@user.UserId">@bnt_text</a>
                </td>
            </tr>
        }
    </tbody>
</table>