﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using CloudControl.Models
@model List<CloudControl.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Пользователи</h1>


@(Html.DevExtreme().DataGrid<CloudControl.Models.UserRolesViewModel>()
        .ID("users_grid")
    .DataSource(
    Model
    )
    .OnRowInserting(@<text>
            function(e){
                e.data.NewPassword = $('input[name="NewPassword"]').val();
                console.log("Добавление пользователя", e.data);
                sendForm(e.data);
            }
    </text>)
    .OnRowUpdating(@<text>
            function(e){
                @*e.data.NewPassword = $('input[name="NewPassword"]').val();*@
                console.log("Редактирование пользователя", e);
                updateForm(e);
            }
    </text>)

.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.Selection(s => s.Mode(SelectionMode.Single))
.HoverStateEnabled(true)
.Columns(columns => {

    //columns.AddFor(m => m.UserName);
    columns.AddFor(m => m.Email);
columns.AddFor(m => m.PhoneNumber);
columns.AddFor(m => m.NewPassword).Visible(false);



columns.AddFor(m => m.Roles)
    .CellTemplate(@<text>
                <div>
                    <%- value %>
                    @*<a href="/Admin/Manage?userId=<%- data.UserId %>" class="dx-icon-doc" style="font-size: 18px;" title="Управление ролями" target="_self"></a>*@
                     <span onclick="showInfo('<%- data.UserId %>')"><i class="fas fa-user-tag"></i></span>
                </div>
            </text>)
        .Caption("Роли")
        ;
    columns.AddFor(m => m.ObjectControl)
    .CellTemplate(@<text>
                <div>
                    <span onclick="showObjects('<%- data.UserId %>')"><i class="fas fa-warehouse"></i></span>
                    <%- value %>
                    @*<a href="/Admin/Manage?userId=<%- data.UserId %>" class="dx-icon-doc" style="font-size: 18px;" title="Управление ролями" target="_self"></a>*@
                    <button class="btn mb1" data-modal-open="example-1"><span>Откр</span></button>
                </div>
            </text>)
        .Caption("Объекты")
        ;

    columns.Add().Type(GridCommandColumnType.Buttons)
    .Buttons(b =>
    {
        b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
        b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");

    });


})
    .Editing(e => e
        .AllowUpdating(true)
        .AllowAdding(true)
        .Texts(t => t.SaveRowChanges("Сохранить").CancelRowChanges("Отмена"))
        .Mode(GridEditMode.Popup)
        .Popup(p => p
            .Title("Детали статуса")
            .ShowTitle(true)
            .Width(700)
            .Height(500)
        )

        .Form(f => f.Items(items =>
        {
            items.AddGroup()
                .Caption("Добавление пользователя")
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    //groupItems.AddSimpleFor(m => m.UserName).Editor(e => e.TextBox().Disabled(false));
                    groupItems.AddSimpleFor(m => m.Email).Editor(e => e.TextBox().Disabled(false));
                    groupItems.AddSimpleFor(m => m.PhoneNumber).Editor(e => e.TextBox().Disabled(false));
                    groupItems.AddSimpleFor(m => m.NewPassword).Editor(e => e.TextBox().Disabled(false));
                    //groupItems.AddSimpleFor(m => m.PhoneNumber).Editor(e => e.TextBox().Disabled(false));
                    //groupItems.AddSimple().DataField("NewPassword").Editor(e => e.TextBox()).Label(l => l.Text("Новый пароль"));
                    //groupItems.AddSimpleFor(m => m.NewPassword).DataField("NewPassword").Editor(e => e.TextBox()).Label(l => l.Text("Новый пароль"));
                });
        }
        ))


    )
)
@(Html.DevExtreme().Popup()
    .Title("Управление ролями")
    .ResizeEnabled(true).ID("roles_popup").Visible(false)
    .Width(350)
    .Height(450)
    .ContentTemplate(@<text>
        <div id="popup_window_roles">

        </div>
    </text>)
)
@(Html.DevExtreme().Popup()
    .Title("Доступ к объектам")
    .ResizeEnabled(true).ID("objects_popup").Visible(false)
    .ShowTitle(false)
    .CloseOnOutsideClick(true)

    //.Width(350)
    //.Height(650)
    .ContentTemplate(@<text>
                <div id="popup_window_objects_old">

                </div>
    </text>)
)

<div class="modal" data-name="example-1" id="modal-objects">
    <div class="modal__container">
        <div class="modal__scroll">
            <div class="modal__header">
                <div class="modal__title">
                    Объекты
                </div>
                <div class="modal__close" data-close></div>
            </div>
            <div class="modal__body">

                <!--
                    Тут начинается тело формы
                    можно вешать любые js события, т.к. елементы постоянно в DOM
                -->
                <div id="popup_window_objects">

                </div>



                <!-- Тут заканчиввается -->

            </div>
        </div>

    </div>
    <div class="modal__overlay"></div>

</div>


<script>

    function loadPopup(link, uid, target) {
        console.log('loadPopup', uid);
        $.ajax({
            url: '/Admin/' + link,
            type: 'GET',
            data: { 'userId': uid },
            success: function (content) {
                //console.log("popup загружен", content);
                $('#' + target).html(content);
                //                $('#roles_popup').dxPopup("instance").show();
            },
            error: function (e) {
                console.log(e);
            }
        });
    };


    function showInfo(data) {
        console.log('showInfo', data);
        loadPopup('Manage', data, 'popup_window_roles');
        const popup = $("#roles_popup").dxPopup("instance");
        popup.show();
    }

    function showObjects(data) {
        console.log('showObjects', data);
        loadPopup('Objects', data, 'popup_window_objects');
        //const popup2 = $("#objects_popup").dxPopup("instance");
        //popup2.show();
        $('#modal-objects').addClass('modal-opened');
    }

    function updateForm(e) {
        console.log('updateForm', e);
        var data = new Object();
        //data['UserId'] = e.oldData.UserId;
        //data['NewPassword'] = e.newData.NewPassword;
        //data.Email = e.oldData.Email;
        data.UserId = e.key.UserId;
        if (e.newData.hasOwnProperty('NewPassword') !== 'undefined') {
            data.NewPassword = e.newData.NewPassword;
        }

        if (e.newData.hasOwnProperty('PhoneNumber') !== 'undefined') {
            data.PhoneNumber = e.newData.PhoneNumber;
        }

        if (e.newData.hasOwnProperty('Email') !== 'undefined') {
            data.Email = e.newData.Email;
        }

        //if (isset(e.newData.NewPassword)) {
        //    data.NewPassword = e.newData.NewPassword;
        //}

        //var data = { "Email": e.oldData.Email, "NewPassword": e.newData.NewPassword}
        $.ajax({
            url: '/Admin/Update',
            type: 'POST',
            data: data,
            //dataType: 'json',
            success: function (content) {
                console.log("данные о пользователе переданы:", content);
                //$('#popup_window_roles').html(content);
                //                $('#roles_popup').dxPopup("instance").show();
                if (!content.succeeded) {
                    DevExpress.ui.notify({
                        message: content.errors[0].description,
                        type: "warning",
                        width: 300,
                        height: 100,
                        position: {
                            my: "center center",
                            at: "center center"
                        },
                        displayTime: 3500
                    });
                } else {
                    DevExpress.ui.notify({
                        message: "Сведения успешно изменены!",
                        type: "success",
                        width: 300,
                        height: 100,
                        position: {
                            my: "center center",
                            at: "center center"
                        },
                        displayTime: 3500
                    });
                    $("#users_grid").dxDataGrid("instance").getDataSource().reload();
                }


            },
            error: function (e) {
                console.log('Ошибка на стороне сервера:', e);
            }
        });

    }

    function sendForm(data) {
        console.log('sendForm', data);
        $.ajax({
            url: '/Admin/Create',
            type: 'POST',
            data: data,
            //dataType: 'json',
            success: function (content) {
                console.log("данные о пользователе переданы:", content);
                //$('#popup_window_roles').html(content);
                //                $('#roles_popup').dxPopup("instance").show();
                if (!content.result.succeeded) {
                    DevExpress.ui.notify({
                        message: content.result.errors[0].description,
                        type: "warning",
                        width: 300,
                        height: 100,
                        position: {
                            my: "center center",
                            at: "center center"
                        },
                        displayTime: 3500
                    });
                } else {
                    DevExpress.ui.notify({
                        message: "Пользователь успешно создан!",
                        type: "success",
                        width: 300,
                        height: 100,
                        position: {
                            my: "center center",
                            at: "center center"
                        },
                        displayTime: 3500
                    });
                    $("#users_grid").dxDataGrid("instance").getDataSource().reload();
                }


            },
            error: function (e) {
                console.log('Ошибка на стороне сервера:', e);
            }
        });
    };

</script>

