﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<UserObjectsViewModel>
@{
    //ViewData["Title"] = "Manage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
}


<form method="post" action="/admin/objects/" class="form prevent">
    <div class="card">
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].idm_object" />
                    <input type="hidden" name="userId" value="@ViewBag.userId" />
                    <input asp-for="@Model[i].selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].selected">
                        @Model[i].object_description
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        @*<div class="card-footer">
            <input type="submit" value="Update" class="btn-sm btn-primary"
                   style="width:auto" />            
        </div>*@
    </div>
    <div class="form-footer">
        <button class="btn form-btn -border-only" type="button"><span>Отменить</span></button>
        <button class="btn form-btn --orange" type="submit"><span>Сохранить</span></button>
    </div>

</form>


<!--<div class="modal modal-opened" data-name="example-1">
    <div class="modal__container">
        <div class="modal__scroll">
            <div class="modal__header">
                <div class="modal__title">
                    Объекты
                </div>
                <div class="modal__close" data-close></div>
            </div>
            <div class="modal__body">-->

                <!--
                    Тут начинается тело формы
                    можно вешать любые js события, т.к. елементы постоянно в DOM
                -->

                
                    

                <!-- Тут заканчиввается -->

            <!--</div>
        </div>

    </div>
    <div class="modal__overlay"></div>

</div>-->