.btn{
	--ui-color:var(--color-btn-blue);

	--border-color:var(--ui-color);
	--background:var(--ui-color);
	--color:#fff;
	--font-size:1em;
	--padding-top-bottom:10px;
	--padding-left-right:20px;
	--margin-inner:10px;
	--icon-size:calc(1em * 1.15);
	--transition:100ms;

	@extend .input;

	position: relative;
	transition: var(--animation);

	color: var(--color);
	font-size: 14px;
	font-weight: 600;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;

	outline: none;

	border: 1px solid var(--border-color);
	border-radius: 15px;
	background: var(--background);

	cursor: pointer;

	padding: var(--padding-top-bottom) var(--padding-left-right);

	&:hover{
		--ui-color:var(--color-btn-blue-light)
	}

	&:focus{
		--border-color:var(--ui-color)!important;;
	}

	&:focus{
	//	outline-color:  var(--border-color);
	}

	&:not(-light):not(.-stop-animation):not(.--is-loading):not(.-static):hover{

	}
	&.--pink{
		--ui-color:var(--color-btn-pink);
		&:hover{
			--ui-color:var(--color-btn-pink-light)
		}
	}

	.icon{
		--ui-icon-width:var(--icon-size);

		--fill:var(--color);
		fill:var(--color);
		margin: 0 calc(var(--margin-inner) / 2.5);
		box-sizing: border-box;
		transition: var(--transition);
		position: relative;
		top: -1px;

	}

	span{
		color: var(--color);
		font-size: var(--font-size);
		margin: 0 calc(var(--margin-inner) / 2.5);
		line-height: 1em;
		.light{
			font-weight: 400;
		}
	}
	&:disabled:not(.--is-loading){
		cursor: default;
		--font-color: #c9c9c9!important;
		--border-color: #f7f7f7!important;
		--background-color: #f7f7f7!important;
		--ui-color: #f7f7f7!important;
		--color: #a3a3a3!important;
	}


	@each $name, $c in $colors {
		&.--#{$name}{
			--ui-color: #{$c};
			&.--is-loading{
				--color:#fff;
			}

		}
	}

	&.--white{
		--ui-color: #fff;
		--color:#000;
	}

	/**
		размерная таблица
	 */
	&.-compact{
		--margin-inner: 7px;
		font-size: 14px;
		padding: 10px 16px 9px;
		@include screen(375){
			padding: 10px 10px 9px;
		}
	}

	&.-compacter{
		--margin-inner: 8px;
		font-size: 14px;
		padding: 8px 14px 7px;
	}

	&.-border-only{
		--ui-color: #CCD7DE!important;
		--background: transparent;
		--color: #000;
	}

	&.-light{
		--color:#000;
		--border-color:transparent;
		--background: #fff!important;
	}
	&.-shadow{
		box-shadow: 0px 10px 30px rgba(23, 50, 104, 0.1);
	}



	/**
		таблица состояний
	 */

	&.-rouded{
		border-radius: 20px;
	}

	&.-link{
		padding: 0;
		margin: 0;
		--margin-inner: 0;
		--color:var(--ui-color);
		--border-color:transparent!important;
		--background: transparent!important;
	}



	&.-icon{
		--color: #000;
		--border-color: transparent!important;
		--background: transparent!important;
		--padding:0px;
		--icon-size: 32px;
		padding: var(--padding);
		width: var(--icon-size);
		height:var(--icon-size);
		border-radius: 0;

		svg.icon{
			width: 100%;
			height: 100%;
		}
	}

	&.-file{
		cursor: pointer;
		input[type=file],
		input[type=image]
		{
			display: none;
		}
	}

	&.--is-loading{
		--fill:var(--color);
		--size:1rem;
		position: relative;

		cursor: default;
		* {
			opacity: 0;
		}

		span{
			visibility: hidden;
		}
		&:before{
			opacity: 1;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			border: 2px solid var(--fill);
			border-top-color: transparent;
			margin: -10px -10px;
			animation: rotating 600ms linear infinite;
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}

	}


}

@keyframes rotating {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes hover {
	0% {
		transform: translateY(0%);
		opacity: 0;
	}
	50% {
		transform: translateY(50%);
		opacity: 1;
	}

	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}



.icon-btn{
	--ui-box-size:30px;
	--ui-icon-width: 16px;
	--ui-border-color: transparent;
	--ui-filled-color: var(--color-pink);
	background: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: var(--ui-box-size);
	height: var(--ui-box-size);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	z-index: 2;
	border: 1px solid var(--ui-border-color);

	&.--filled{
		background: var(--ui-filled-color);
		--ui-border-color: var(--ui-filled-color)!important;
		.icon{
			--fill:var(--ui-filled-color);
			--stroke:#fff;
		}
	}
}
