.drop{
    position: relative;
    z-index: 1;
    width: min-content;


    .drop-icon{
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        transform-origin: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .drop-btn{
        cursor: pointer;
        margin-bottom: 0;
    
        input.--has-arrow{
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
            background-position:  calc(100% - 10px) center;
            background-repeat: no-repeat;
            padding-right: 15px;
            background-size: 8px;
            
        }

        &.--has-arrow{
            position: relative;
            padding-right: 15px;
           
            &:after{
                content: '';
                width: 8px;
                height: 5px;
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-3px);
            }
        }
    }
    &.w100{
        width: 100%;
        .drop-btn{
            input{
                width: 100%;
            }
        }
    }

    .drop-container{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateY(5px);
        top: 100%;
        left: 0;
        padding-top: 10px;
        transition: 200ms;
        box-sizing: border-box;
        width: inherit;


        &::before {
            content: '';
            position: absolute;
            left: 2em;
            top: 0;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 10px solid #fff;
        
        }
    }
    .drop-content{
        min-width: 100%;
        background: #fff;
        padding: 1.2rem;
        box-shadow: 0px 4px 20px #0003;
        border-radius: 15px;
        box-sizing: border-box;
        a{
            display: flex;
            width: 100%;
            align-items: center;
            &:hover{
                font-weight: 600;
            }
        }
        section[label]{
            display: block;
            &:before{
                content: attr(label);
                display: block;
                margin-bottom: 10px;
                font-weight: 400;
                font-size: 13px;
                color: #222222;
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 5px;
            }

            margin-bottom: 20px;
            &:last-child{
                border-bottom: 0px solid #ddd;
                padding-bottom:0;
                margin-bottom:0;
            }
            
        }


        .checkbox, .radio{
            --icon-size: 20px;
            width: 100%;
            input{
                &:before{
                    background-size: 8px
                }
            }
        }




    }
    .drop-submit{
        @extend .btn;

        position: fixed;
        top: calc(100% + 50px);
        right: 10px;
        left: 10px;
        display: none;
      
        --padding: 12px;
        --font-size: 14px;
   
    }
    a.drop-item{
        display: flex;
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
        line-height: 1em;
        box-sizing: border-box;
        width: max-content;
        .icon{
            margin-right: 5px;
        }
        &:hover{
            text-decoration: underline;
        }
        &:last-child{
            margin-bottom: 0;
        }

    }
    .drop-item{


        &.checkbox,
        &.radio{
            input{
                top: 50%;
                transform: translateY(-50%);
            }

        }
    }

    
    &.--open{
        z-index: 100;
        .drop-btn{
        }
        .drop-container{
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
        .drop-icon{
            transform: translateY(-50%)  rotate(180deg);
        }
    }

    &.-full{
        .drop-submit{
            display: flex;
          
        }

        .drop-container{
            padding-bottom: 60px;
        }

    }

    &.-full{
        .drop-submit{
            display: flex;
          
        }

        .drop-container{
            padding-bottom: 60px;
        }

    }
}