.form{
    &-title{
        display: block;
        font-weight: 600;
        font-size: 22px;
        color: var(--color-blue);
        margin-bottom: 1.5rem;
    }
    
    &-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
    }

    &-cell{
        display: flex;
        align-items: center;
        --title-width: 180px;
        display: grid;
        grid-template-columns: var(--title-width) 1fr;

        &.w100{
            grid-column: 1 / -1;
        }

        &__title{
            color: var(--color-lilac);
            font-weight: 400;
            font-size: 13px;
        }
       &__value{
           box-sizing: border-box;
           .input, select{
               width: 100%;
           }
           small{
               display: block;
           }
       }
    }

    &-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .form-btn{
            border-radius: 10px;
            --padding-top-bottom: 16px;
        }
    }
    
    &.form-l{
        .form-cell{
            grid-template-columns: 1fr;
            &__title{
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
                display: block;
                margin-bottom: 5px;
            }
            &__value{
                width: 100%;
                box-sizing: border-box;
            }
            .input{
                padding: 1rem;
                margin-bottom: 10px;
            }
        }
    }
}