input,
input[type=text],
input[type=tel],
input[type=password],
textarea,
select
{
	--border-color:var(--color-input-stroke);
	--background-color:#fff;
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    box-sizing: border-box;
    background: var(--background-color);
    outline: none;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	border-radius: 8px;


	&::placeholder {
		color: #858585;
		font-weight: 500;
	}



	&:disabled{
		cursor: default;
		--font-color: #000!important;
		--border-color: #EDF1F6!important;
		--background-color: #EDF1F6!important;
	}

	&.-validated:not([value=""]):not(:focus):invalid{
//		border-color: #fb1919;
	}

	&.-validated:not([value=""]):valid {
//		border-color: var(--color-green);
	}

	&:focus{
		--border-color:var(--color-lilac-dark)!important;
		box-shadow: 0px 4px 10px rgba(21, 32, 101, 0.2);

	}



}

select{
	-webkit-appearance: none;
	position: relative;
	background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796784 0.732239C0.890547 0.638504 1.0177 0.585846 1.15028 0.585846C1.28286 0.585846 1.41002 0.638504 1.50378 0.732239L3.97878 3.20724L6.45377 0.732239C6.54807 0.64116 6.67438 0.590763 6.80547 0.591902C6.93657 0.593041 7.06198 0.645626 7.15468 0.73833C7.24739 0.831034 7.29997 0.95644 7.30111 1.08754C7.30225 1.21864 7.25185 1.34494 7.16077 1.43924L4.33228 4.26774C4.23851 4.36147 4.11136 4.41413 3.97878 4.41413C3.8462 4.41413 3.71904 4.36147 3.62528 4.26774L0.796784 1.43924C0.703048 1.34548 0.650391 1.21832 0.650391 1.08574C0.650391 0.953157 0.703048 0.826003 0.796784 0.732239Z' fill='black'/%3E%3C/svg%3E");
	background-position: calc(100% - 1rem) center ;
	background-repeat: no-repeat;
	max-width: 100%;
	display: block;
	padding-right: 2rem;
	@extend .nowrap;
}

textarea.input{
    resize: vertical;
    min-height: 120px;
}

.input-container{

}

[data-copy]{
	position: relative;
	cursor: pointer;

	input{
		display: block;
		width: 100%;
		padding-right: 2rem;
		@extend .nowrap;

	}
	&:after{
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 2V8C3 8.26522 3.10536 8.51957 3.29289 8.70711C3.48043 8.89464 3.73478 9 4 9H8C8.26522 9 8.51957 8.89464 8.70711 8.70711C8.89464 8.51957 9 8.26522 9 8V3.621C8.99998 3.48778 8.97335 3.35591 8.92166 3.23312C8.86997 3.11034 8.79427 2.99912 8.699 2.906L7.0415 1.285C6.85468 1.10233 6.60379 1.00003 6.3425 1H4C3.73478 1 3.48043 1.10536 3.29289 1.29289C3.10536 1.48043 3 1.73478 3 2V2Z' stroke='%236074EE' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 9V10C7 10.2652 6.89464 10.5196 6.70711 10.7071C6.51957 10.8946 6.26522 11 6 11H2C1.73478 11 1.48043 10.8946 1.29289 10.7071C1.10536 10.5196 1 10.2652 1 10V4.5C1 4.23478 1.10536 3.98043 1.29289 3.79289C1.48043 3.60536 1.73478 3.5 2 3.5H3' stroke='%236074EE' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		position: absolute;
		top: 0;
		bottom: 0;
		width: 60px;
		background-repeat: no-repeat;
		background-position: center right;
		display: flex;
		align-items: center;
		color: #6074EE;
		right: 12px;
		background-size: 14px;
		padding-right: 0px;
		font-size: 13px;
	}

	&.copied{
		input{
			padding-right: 80px;
		}
		&:after{
			content: 'Готово';
		}
	}

}