.modal{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000047;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 200ms;
    box-sizing: border-box;
    padding: 2rem;

    &.modal-opened{
        visibility: visible;
        opacity: 1;
    }

    &:before{
        content: '';
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.4;
        background: linear-gradient(90deg, #6DC4FE, #8643FF, #6DC4FE);
    }

    &__container{
        max-width: 1010px;
        min-width: 560px;
        display: block;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 30px 60px #07122766;
        border-radius: 40px;
        position: relative;
        z-index: 2;
        max-height: 100%;
        overflow: hidden;
        display: flex;


    }
    &__scroll{
        max-height: 100%;
        width: 100%;
        overflow: auto;

        @extend .scrollbar;
    }

    &__header{
        padding: 2rem 5rem;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        display: grid;
        grid-template-columns: 1fr 18px;
    }
    &__title{
        font-weight: 600;
        font-size: 24px;
        position: relative;
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        &:before{
            content: '';
            background: url("/img/svg/logo-s.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display:block;
            width: 50px;
            height: 40px;
        }
    }
    &__close{
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5897 8.95046L17.8797 1.66046C18.0435 1.46916 18.1291 1.22308 18.1194 0.971403C18.1096 0.719727 18.0053 0.480988 17.8272 0.302894C17.6491 0.124799 17.4104 0.0204662 17.1587 0.0107451C16.907 0.00102391 16.661 0.0866304 16.4697 0.250457L9.17966 7.54046L1.88966 0.240457C1.69836 0.0766302 1.45228 -0.00897537 1.20061 0.000745785C0.948932 0.0104669 0.710193 0.114799 0.532098 0.292893C0.354004 0.470988 0.249671 0.709727 0.23995 0.961403C0.230228 1.21308 0.315835 1.45915 0.479661 1.65046L7.76966 8.95046L0.469661 16.2405C0.364979 16.3301 0.279959 16.4404 0.219936 16.5645C0.159912 16.6886 0.126182 16.8237 0.120862 16.9614C0.115543 17.0991 0.138749 17.2365 0.189023 17.3648C0.239298 17.4931 0.315556 17.6097 0.413011 17.7071C0.510466 17.8046 0.627013 17.8808 0.755338 17.9311C0.883663 17.9814 1.021 18.0046 1.15871 17.9993C1.29643 17.9939 1.43157 17.9602 1.55563 17.9002C1.6797 17.8402 1.79001 17.7551 1.87966 17.6505L9.17966 10.3605L16.4697 17.6505C16.661 17.8143 16.907 17.8999 17.1587 17.8902C17.4104 17.8804 17.6491 17.7761 17.8272 17.598C18.0053 17.4199 18.1096 17.1812 18.1194 16.9295C18.1291 16.6778 18.0435 16.4318 17.8797 16.2405L10.5897 8.95046Z' fill='black'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__body{
        padding: 2rem 5rem;
        box-sizing: border-box;
    }
    
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
    }
    &__overlay{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

}