.notice{
    --padding:30px;
    --icon-size:28px;
    --icon-offset-top:30px;
    --icon-offset-left:30px;
    --text-left-padding:70px;
    
    
    box-sizing: border-box;
    background: #F4F9FD;
    border-radius: 8px;
    padding: var(--padding);
    display: block;
    margin-bottom: 2rem;
    
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #738FA5;
    position: relative;
    
    
    &.-compact{
        background: transparent !important;
        font-size: 13px;
        
        --padding: 7px;
        --text-left-padding: 25px;
        --icon-size: 18px;
        --icon-offset-top:12px;
        --icon-offset-left:2px;

  
    }
    
    &.-success,
    &.-error,
    {
        padding-left: var(--text-left-padding);
        &:before{
            position: absolute;
            left: var(--icon-offset-left);
            top: var(--icon-offset-top);
            content: '';
            width: var(--icon-size);
            height: var(--icon-size);
            transform: translateY(-5px);
            display: block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    
    &.-success{
        background-color: #E4F6EB;
        color: #24AC5A;
       &:before{
           background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9887 1.46812C16.5344 1.00328 15.9919 0.633921 15.3929 0.381745C14.7939 0.129569 14.1505 -0.000335693 13.5006 -0.000335693C12.8507 -0.000335693 12.2073 0.129569 11.6083 0.381745C11.0093 0.633921 10.4668 1.00328 10.0125 1.46812L8.96291 2.54474L7.46103 2.52618C6.81092 2.51849 6.16584 2.64086 5.56371 2.8861C4.96159 3.13135 4.41457 3.49451 3.95484 3.95424C3.49512 4.41397 3.13195 4.96098 2.88671 5.56311C2.64146 6.16524 2.51909 6.81032 2.52678 7.46043L2.54366 8.96231L1.47041 10.0119C1.00557 10.4662 0.63621 11.0087 0.384034 11.6077C0.131858 12.2067 0.00195313 12.8501 0.00195312 13.5C0.00195313 14.1499 0.131858 14.7933 0.384034 15.3923C0.63621 15.9913 1.00557 16.5338 1.47041 16.9881L2.54535 18.0377L2.52678 19.5396C2.51909 20.1897 2.64146 20.8348 2.88671 21.4369C3.13195 22.039 3.49512 22.586 3.95484 23.0457C4.41457 23.5055 4.96159 23.8686 5.56371 24.1139C6.16584 24.3591 6.81092 24.4815 7.46103 24.4738L8.96291 24.4569L10.0125 25.5302C10.4668 25.995 11.0093 26.3644 11.6083 26.6166C12.2073 26.8687 12.8507 26.9986 13.5006 26.9986C14.1505 26.9986 14.7939 26.8687 15.3929 26.6166C15.9919 26.3644 16.5344 25.995 16.9887 25.5302L18.0383 24.4552L19.5402 24.4738C20.1903 24.4815 20.8354 24.3591 21.4375 24.1139C22.0396 23.8686 22.5866 23.5055 23.0463 23.0457C23.5061 22.586 23.8692 22.039 24.1145 21.4369C24.3597 20.8348 24.4821 20.1897 24.4744 19.5396L24.4575 18.0377L25.5308 16.9881C25.9956 16.5338 26.365 15.9913 26.6172 15.3923C26.8693 14.7933 26.9992 14.1499 26.9992 13.5C26.9992 12.8501 26.8693 12.2067 26.6172 11.6077C26.365 11.0087 25.9956 10.4662 25.5308 10.0119L24.4558 8.96231L24.4744 7.46043C24.4821 6.81032 24.3597 6.16524 24.1145 5.56311C23.8692 4.96098 23.5061 4.41397 23.0463 3.95424C22.5866 3.49451 22.0396 3.13135 21.4375 2.8861C20.8354 2.64086 20.1903 2.51849 19.5402 2.52618L18.0383 2.54306L16.9887 1.46981V1.46812ZM17.473 11.5661L12.4105 16.6286C12.3321 16.7072 12.239 16.7695 12.1365 16.8121C12.034 16.8546 11.9241 16.8765 11.8131 16.8765C11.7021 16.8765 11.5922 16.8546 11.4897 16.8121C11.3872 16.7695 11.2941 16.7072 11.2157 16.6286L8.68447 14.0974C8.60602 14.0189 8.54379 13.9258 8.50134 13.8233C8.45888 13.7208 8.43703 13.6109 8.43703 13.5C8.43703 13.3891 8.45888 13.2792 8.50134 13.1767C8.54379 13.0742 8.60602 12.9811 8.68447 12.9026C8.76292 12.8242 8.85605 12.7619 8.95855 12.7195C9.06105 12.677 9.1709 12.6552 9.28185 12.6552C9.39279 12.6552 9.50264 12.677 9.60514 12.7195C9.70764 12.7619 9.80077 12.8242 9.87922 12.9026L11.8131 14.8382L16.2782 10.3714C16.4367 10.2129 16.6515 10.1239 16.8756 10.1239C17.0997 10.1239 17.3145 10.2129 17.473 10.3714C17.6314 10.5298 17.7204 10.7447 17.7204 10.9687C17.7204 11.1928 17.6314 11.4077 17.473 11.5661Z' fill='%234DB877'/%3E%3C/svg%3E%0A");
       }
    }
    &.-error{
        background-color: #ffe9f1;
        color: #C71B59;
        &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6867 1.70144L20.3877 12.8624C21.3507 14.4654 20.8777 16.5744 19.3307 17.5724C18.8115 17.9086 18.2063 18.0878 17.5877 18.0884H4.18472C2.36372 18.0884 0.886719 16.5584 0.886719 14.6694C0.886719 14.0304 1.05972 13.4054 1.38472 12.8624L8.08672 1.70144C9.04872 0.0984356 11.0827 -0.392564 12.6297 0.605436C13.0577 0.881436 13.4197 1.25644 13.6867 1.70144ZM10.8867 14.0884C11.1519 14.0884 11.4063 13.9831 11.5938 13.7955C11.7814 13.608 11.8867 13.3537 11.8867 13.0884C11.8867 12.8232 11.7814 12.5689 11.5938 12.3813C11.4063 12.1938 11.1519 12.0884 10.8867 12.0884C10.6215 12.0884 10.3671 12.1938 10.1796 12.3813C9.99208 12.5689 9.88672 12.8232 9.88672 13.0884C9.88672 13.3537 9.99208 13.608 10.1796 13.7955C10.3671 13.9831 10.6215 14.0884 10.8867 14.0884ZM10.8867 5.08844C10.6215 5.08844 10.3671 5.19379 10.1796 5.38133C9.99208 5.56887 9.88672 5.82322 9.88672 6.08844V10.0884C9.88672 10.3537 9.99208 10.608 10.1796 10.7955C10.3671 10.9831 10.6215 11.0884 10.8867 11.0884C11.1519 11.0884 11.4063 10.9831 11.5938 10.7955C11.7814 10.608 11.8867 10.3537 11.8867 10.0884V6.08844C11.8867 5.82322 11.7814 5.56887 11.5938 5.38133C11.4063 5.19379 11.1519 5.08844 10.8867 5.08844Z' fill='%23D51E60'/%3E%3C/svg%3E%0A");        }
    }
}