.popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	display: block;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	display: none;
	color: #000;

	&.--is-open{
		display: flex;
		opacity: 1;
		visibility: visible;
	}
	.popup__bg{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.15);
		z-index: 1;
	}
	.popup__table {
		display: table;
		width: 100%;
		height: 100%;
		position: relative;;
		text-align: center;
		overflow: auto;
		z-index: 6;
	}
	.popup__table-cell {
		display: table-cell;
		overflow: auto;
		height: 100%;

		vertical-align: middle;
		padding: 2em;
	}
	.popup__close {
		position: absolute;
		right: 20px;
		top:  20px;
		width: 20px;
		height: 20px;
		background: transparent;
		outline: none;
		cursor: pointer;
		border: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;

		svg{
			width: 100%;
			height: 100%;
		}

		.close {
			--size: 26px;
			--width: 1px;
			--color: #929292;

			&:hover{
				--color: #000;
			}
		}
	}

	.popup__dialog{
		position: relative;
		min-height: 200px;
		min-width: 300px;
		background: #fff;
		border-radius: 25px;
		max-width: 850px;
		margin: 0px auto;
		z-index: 1;
		padding: 2em 110px;
		box-sizing: border-box;
		box-shadow: 0px 0px 10px 0px #00000014;
	}

	&__container{
		text-align: left;
	}


	&__titles{
		display: block;
		margin-bottom: 2em;
		&-sup{
			font-family: Caveat;
			font-size: 24px;
			line-height: 1em;
			color: #DD98B1;
		}
		&-title{
			font-weight: bold;
			font-size: 31px;
			color: #150F18;
			line-height: 1em;
			margin-bottom: 10px;
		}
		&-sub{
			font-size: 16px;
			line-height: 1em;
		}
	}
	
	&__footer{
		margin-top: 2em;
		&-text{
			font-weight: 600;
			font-size: 17px;
			color: #150F18;
			margin-bottom: 15px;
			display: block;
		}
		&-button{
			--flex-between-space: 1em;
			.btn{
				border-radius: 15px;
				height: 50px;
			}
			.flex-item{
				margin-bottom: 0;
			}
		}
		&-sub{
			font-size: 12px;
			display: block;
			margin-top: 10px;
			color: #565656;
			a{
				color: var(--color-main);
			}
		}
	}
}