﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Нет доступа";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У Вас нет доступа к этой странице.</p>
</header>
