﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление забытого пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Проверьте свою почту, на неё отправлено письмо для сброса пароля.
</p>

