﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Авторизация";
}

@*<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Используйте свою учетную запись для входа</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Повторно отправить код подтверждения</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
        </section>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@




<div class="login">
    <div class="login__header">
        <div class="login__header-logo"><img src="/img/svg/logo.svg" alt="" /></div>
        <div class="login__header-lang">
            <div class="drop">
                <div class="drop-btn">
                    <div class="lang__btn --arrow-down">
                        <svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg>
                    </div>
                </div>
                <div class="drop-container">
                    <div class="drop-content">
                        <a href="#" class="drop-item lang__name --selected"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Русский</a>
                        @*<a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Английский</a>
                        <a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Французский</a>
                        <a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Немецкий</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="login__form prevent" id="account" method="post">
        <div class="login__form-title">Авторизация</div>
        <div class="login__form-subtitle mb2">Используйте свою учетную запись для входа</div>
        <div class="login__form-input mb1">
            <span>Ваш еmail</span> <input class="ccStyle input" required asp-for="Input.Email" />
            <div><small>указанный при регистрации</small></div>
            <div><span asp-validation-for="Input.Email" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        <div class="login__form-input mb1">
            <span>Пароль</span> 
            <input type="password" class="ccStyle input" asp-for="Input.Password" required />
            <div><span asp-validation-for="Input.Password" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        <div class="mb1">
            <label class="checkbox login__form-checkbox"><input type="checkbox" /> <span>Запомнить меня</span></label>
        </div>
        <div class="login__form-submit mb1">
            <button class="btn-v2 --orange w100" type="submit"><span>Войти в CloudControl</span></button>
        </div>
        <div class="login__form-links">
            <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
            @*<a href="#">Забыли пароль</a> <a href="#">Заругистрироваться</a>*@
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Повторно отправить код подтверждения</a>
            @*<a href="#">Повторно отправить код подтверждения</a>*@
        </div>
    </form>
</div>
