﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

@*<h1>@ViewData["Title"]</h1>*@




@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">

        </div>
    </div>*@

@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@

<div class="login">
    <div class="login__header">
        <div class="login__header-logo"><img src="/img/svg/logo.svg" alt="" /></div>
        <div class="login__header-lang">
            <div class="drop">
                <div class="drop-btn">
                    <div class="lang__btn --arrow-down">
                        <svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg>
                    </div>
                </div>
                <div class="drop-container">
                    <div class="drop-content">
                        <a href="#" class="drop-item lang__name --selected"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Русский</a>
                        @*<a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Английский</a>
                            <a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Французский</a>
                            <a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Немецкий</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="login__form prevent" asp-route-returnUrl="@Model.ReturnUrl" id="account" method="post">
        <div class="login__form-title">Регистрация</div>
        <div class="login__form-subtitle mb2">Создание учетной записи</div>
        <div class="login__form-input mb1">
            <span>Ваш еmail</span> 
            <input asp-for="Input.Email" class="ccStyle input" required />
            <div><small>На него будет отправлено подтверждение регистрации</small></div>
            <div><span asp-validation-for="Input.Email" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        <div class="login__form-input mb1">
            <span>Пароль</span> <input asp-for="Input.Password" type="password" class="ccStyle input" required />
            <div><span asp-validation-for="Input.Password" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        <div class="login__form-input mb1">
            <span>Подтверждение пароля</span>
            <input asp-for="Input.ConfirmPassword" type="password" class="ccStyle input" required />
            <div><span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>

        <div class="login__form-submit mb1">
            <button class="btn --orange w100" type="submit"><span>Зарегистрироваться в CloudControl</span></button>
        </div>

    </form>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }