﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль сброшен";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль сброшен. Вы можете войти по этой <a asp-page="./Login">ссылке</a>.
</p>
