﻿@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Повторить отправку кода подтверждения";
}

@*<h1>@ViewData["Title"]</h1>
<h4>Введите свой email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>*@

<div class="login">
    <div class="login__header">
        <div class="login__header-logo"><img src="/img/svg/logo.svg" alt="" /></div>
        <div class="login__header-lang">
            <div class="drop">
                <div class="drop-btn">
                    <div class="lang__btn --arrow-down">
                        <svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg>
                    </div>
                </div>
                <div class="drop-container">
                    <div class="drop-content">
                        <a href="#" class="drop-item lang__name --selected"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Русский</a>
                        @*<a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Английский</a>
                            <a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Французский</a>
                            <a href="#" class="drop-item lang__name"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Немецкий</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="login__form prevent" id="account" method="post">
        <div class="login__form-title" style="font-size: 26px;">@ViewData["Title"]</div>        
        <div class="login__form-input mb1">
            <span>Введите свой email</span> <input class="ccStyle input" required asp-for="Input.Email" />
            <div><small>указанный при регистрации</small></div>
            <div><span asp-validation-for="Input.Email" class="text-danger" style="color: #ff0000d9;"></span></div>
        </div>
        
        <div class="login__form-submit mb1">
            <button class="btn --orange w100" type="submit"><span>Отправить</span></button>
        </div>
        
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
