﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    bool roleAdmin = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "Admin");
}


@{
    ViewData["Title"] = "Типы устройств";
}

<h2>@ViewData["Title"]</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.devices_type>()
    .DataSource(ds => ds.Mvc()
        .Controller("Device")
        .LoadAction("TypeGet")
        .InsertAction("TypeCreate")
        .UpdateAction("TypeUpdate")
        .DeleteAction("TypeDelete")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .ShowBorders(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).Width("5%");

        columns.AddFor(m => m.descr);

        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
            b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");


        });
    })
    .Editing(e => e
        .AllowAdding(@roleAdmin)
        .AllowUpdating(@roleAdmin)
        .AllowDeleting(@roleAdmin)
        .Mode(GridEditMode.Popup)
        .Popup(p => p
                .Title("Редактирование")
                .ShowTitle(true)
                .Width(500)
                .Height(600)
            )
            .Form(f => f.Items(
                i =>
                {
                    i.AddGroup()
                        .Caption("Описание")
                        .ColCount(1)
                        .ColSpan(2)
                        .Items(groupItems =>
                            {
                                groupItems.AddSimpleFor(m => m.descr);

                            }
                        );
                }
            )
        )

    )
)
