﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    ViewData["Title"] = "Устройства";

    bool allowCreate = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "ClientAdmin");

}

<h2>Устройства</h2>

@(Html.DevExtreme().DataGrid<CloudControl.Models.devices>()
    .DataSource(ds => ds.Mvc()
        .Controller("Device")
        .LoadAction("Get")
        .InsertAction("Create")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .ShowBorders(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).Width("5%");

        columns.AddFor(m => m.idm_object)
        .Lookup(lookup => lookup
                            .DataSource(d => d.Mvc().Controller("Object").LoadAction("Get").Key("id"))
                            .ValueExpr("id")
                            .DisplayExpr("description")
                        )
        .EditCellTemplate(new TemplateName("DDBTemplateObject"))
        .Width("20%");

        columns.AddFor(m => m.ip);
        columns.AddFor(m => m.mac_address);

        columns.AddFor(m => m.descr).Width("20%");

        columns.AddFor(m => m.url).Visible(false);

        columns.AddFor(m => m.login).Visible(false);

        columns.AddFor(m => m.password).Visible(false);

        columns.AddFor(m => m.idm_type)
        .Lookup(lookup => lookup
                            .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id"))
                            .ValueExpr("id")
                            .DisplayExpr("descr")
                        )
        .EditCellTemplate(new TemplateName("DDBTemplateType"))
        .Width("15%");


        columns.AddFor(m => m.is_enable).Width("5%");

        columns.AddFor(m => m.length).Visible(false);

        columns.AddFor(m => m.sec_upload).Visible(false);

        columns.AddFor(m => m.date_last_upload).Format(Format.ShortDateShortTime).Width("15%");

        columns.AddFor(m => m.guid).Visible(false);

        columns.AddFor(m => m.ip_device).Visible(false);

        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
            b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");


        });
    })
    .Editing(e => e
        .AllowAdding(@allowCreate)
        .AllowUpdating(@allowCreate)
        .AllowDeleting(@allowCreate)
        .Mode(GridEditMode.Popup)
        .Popup(p => p
                .Title("Редактирование")
                .ShowTitle(true)
                .Width(700)
                .Height(600)
            )
            .Form(f => f.Items(
                i =>
                {
                    i.AddGroup()
                        .Caption("Общие сведения")
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.descr).IsRequired(true);
                            groupItems.AddSimpleFor(m => m.idm_object).IsRequired(true);
                        //groupItems.AddSimpleFor(m => m.url);
                        groupItems.AddSimpleFor(m => m.idm_type).IsRequired(true);
                            groupItems.AddSimpleFor(m => m.is_enable).Editor(e => e.SelectBox()); // 
                            // решить эту проблему с полем Enable !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



                        //groupItems.AddSimpleFor(m => m.is_enable).Editor(e => e.CheckBox().Value(true ? 1:0));

                        groupItems.AddSimpleFor(m => m.sec_upload).Editor(e => e.TextBox().Value("180"));
                            groupItems.AddSimpleFor(m => m.length).Editor(e => e.TextBox().Value("100"));
                            groupItems.AddSimpleFor(m => m.ip_device);
                            groupItems.AddSimpleFor(m => m.guid).Editor(e =>e.TextBox().Disabled(true));

                        }
                            );
                    i.AddGroup()
                        .Caption("Данные для подключения")
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.ip).IsRequired(true);
                            groupItems.AddSimpleFor(m => m.mac_address).IsRequired(true);
                        }
                        );
                    i.AddGroup()
                        .Caption("Учетные данные")
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.login);
                            groupItems.AddSimpleFor(m => m.password);

                        }
                        );
                }
            )
        )
    )

)
@*типы приборов*@
@using (Html.DevExtreme().NamedTemplate("DDBTemplateType"))
{
    @(Html.DevExtreme().DropDownBox()
                .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id").LoadParams(new { id = new JS("data.idm_type") }) )
                .Value(new JS("value"))
                .ValueExpr("id")
                .DisplayExpr("descr")
                .DropDownOptions(options => options.Width(200))
                .Option("setValue", new JS("setValue"))
                .ContentTemplate(new TemplateName("ContentTypeTemplate"))
                )
}

@using (Html.DevExtreme().NamedTemplate("ContentTypeTemplate"))
{
    @(Html.DevExtreme().DataGrid()
                    .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id"))
//                    .RemoteOperations(true)
                    .Height(250)
                    .Columns(c => {
                        //c.Add().DataField("id");
                        c.Add().DataField("descr").Caption("Тип");

                    })
                    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                    .HoverStateEnabled(true)
//                    .RemoteOperations(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS("[component.option('value')]"))
                    .FocusedRowEnabled(true)
                    .FocusedRowKey(new JS("component.option('value')"))
                    .OnSelectionChanged("function(selectionChangedArgs) { onSelectionChanged(selectionChangedArgs, component) }")
                )
}

@*состояние*@


@*объекты*@
@using (Html.DevExtreme().NamedTemplate("DDBTemplateObject"))
{
    @(Html.DevExtreme().DropDownBox()
                .DataSource(d => d.Mvc().Controller("Object").LoadAction("Get").Key("id").LoadParams(new { id = new JS("data.idm_object") }) )
                .Value(new JS("value"))
                .ValueExpr("id")
                .DisplayExpr("description")
                .DropDownOptions(options => options.Width(200))
                .Option("setValue", new JS("setValue"))
                .ContentTemplate(new TemplateName("ContentObjectTemplate"))
                )
}

@using (Html.DevExtreme().NamedTemplate("ContentObjectTemplate"))
{
    @(Html.DevExtreme().DataGrid()
                    .DataSource(d => d.Mvc().Controller("Object").LoadAction("Get").Key("id"))
//                    .RemoteOperations(true)
                    .Height(250)
                    .Columns(c => {
                        //c.Add().DataField("id");
                        c.Add().DataField("description").Caption("Объект");

                    })
                    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                    .HoverStateEnabled(true)
//                    .RemoteOperations(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS("[component.option('value')]"))
                    .FocusedRowEnabled(true)
                    .FocusedRowKey(new JS("component.option('value')"))
                    .OnSelectionChanged("function(selectionChangedArgs) { onSelectionChangedObject(selectionChangedArgs, component) }")
                )
}

<script>

    $('#searchExprOption').dxSelectBox({
        items: [{
            name: "'Name1'",
            value: '1',
        }, {
            name: "['Name2']",
            value: ['2'],
        }],
        displayExpr: 'name',
        valueExpr: 'value',
        value: 'Name',
        onValueChanged(e) {
            searchBox.option('searchExpr', e.value);
        },
    });

    function onSelectionChanged(selectionChangedArgs, component) {
        console.log(selectionChangedArgs);
        var setValue = component.option('setValue');
        var selectedRowKey = selectionChangedArgs.selectedRowsData[0].id;
        var selectedRowText = selectionChangedArgs.selectedRowsData[0].descr;
        console.log(selectedRowKey, selectedRowText);


        component.option('value', selectedRowText);
        setValue(selectedRowKey);
        if (selectionChangedArgs.selectedRowKeys.length > 0) {
            component.close();
        }
    }

    function onSelectionChangedObject(selectionChangedArgs, component) {
        console.log(selectionChangedArgs);
        var setValue = component.option('setValue');
        var selectedRowKey = selectionChangedArgs.selectedRowsData[0].id;
        var selectedRowText = selectionChangedArgs.selectedRowsData[0].description;
        console.log(selectedRowKey, selectedRowText);


        component.option('value', selectedRowText);
        setValue(selectedRowKey);
        if (selectionChangedArgs.selectedRowKeys.length > 0) {
            component.close();
        }
    }

</script>