﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    bool roleAdmin = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "Admin");
}



@{
    ViewData["Title"] = "Приоритеты";
}

<h2>Приоритеты аварий</h2>
* Внимание! Текущая таблица заполняется автоматически на основании данных, полученных с приборов. Будьте осторожны при ее редактировании!

@(Html.DevExtreme().DataGrid<CloudControl.Models.link_devices_priorities>()
    .DataSource(ds => ds.Mvc()
        .Controller("Device")
        .LoadAction("PriorityGet")
        .UpdateAction("PriorityUpdate")
        .Key("id")
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).Visible(false);

        columns.AddFor(m => m.idm_device_type)
        .Lookup(lookup => lookup
                            .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id"))
                            .ValueExpr("id")
                            .DisplayExpr("descr")
                        )
        .EditCellTemplate(new TemplateName("DDBTemplateType"))
        .Width("15%");

        columns.AddFor(m => m.priority);

        columns.AddFor(m => m.idm_priority);
        columns.AddFor(m => m.sec_self_removal);
        columns.AddFor(m => m.sec_reset);
        columns.AddFor(m => m.tmpl_name);

        columns.Add().Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Name(GridColumnButtonName.Edit).Icon("far fa-edit").Text("Редактировать").CssClass("txt-color-blue");
            b.Add().Name(GridColumnButtonName.Delete).Icon("far fa-trash-alt").Text("Удалить").CssClass("txt-color-blue");


        });
    })
    .Editing(e => e
        .AllowUpdating(@roleAdmin)
        .Texts(t => t.SaveRowChanges("Сохранить").CancelRowChanges("Отмена"))
        .Mode(GridEditMode.Popup)
        .Popup(p => p
            .Title("Детали статуса")
            .ShowTitle(true)
            .Width(700)
            .Height(500)

        )

        .Form(f => f.Items(items =>
        {
            items.AddGroup()
                .Caption("Общие сведения")
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.idm_device_type).Editor(e => e.TextBox().Disabled(true));
                    groupItems.AddSimpleFor(m => m.priority).Editor(e => e.TextBox().Disabled(true));
                    groupItems.AddSimpleFor(m => m.idm_priority).Editor(e => e.TextBox().Disabled(true));
                    groupItems.AddSimpleFor(m => m.id).Visible(false);
                });
            items.AddGroup()
                .Caption("ИТаймауты и интеграция")
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                groupItems.AddSimpleFor(m => m.sec_self_removal);
                groupItems.AddSimpleFor(m => m.sec_reset);
                groupItems.AddSimpleFor(m => m.tmpl_name);

                @*groupItems.AddButton()
                    .HorizontalAlignment(HorizontalAlignment.Left)
                    .ButtonOptions(b => b.Text("Подтвердить выполнение")
                        .ID("select_tower")
                        .Type(ButtonType.Default)
                        .UseSubmitBehavior(false)
                        //.OnClick("createVisit")
                        .OnClick(@<text>
                                function showInfo(data) {
                                    console.log(data);
                                    CloseAlert(data.id);
                                }
                            </text>)


                            );*@

                    });





            }

        ))


    )
)
@*типы приборов*@
@using (Html.DevExtreme().NamedTemplate("DDBTemplateType"))
{
    @(Html.DevExtreme().DropDownBox()
                .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id").LoadParams(new { id = new JS("data.idm_type") }) )
                .Value(new JS("value"))
                .ValueExpr("id")
                .DisplayExpr("descr")
                .DropDownOptions(options => options.Width(500))
                .Option("setValue", new JS("setValue"))
                .ContentTemplate(new TemplateName("ContentTypeTemplate"))
                )
}

@using (Html.DevExtreme().NamedTemplate("ContentTypeTemplate"))
{
    @(Html.DevExtreme().DataGrid()
                    .DataSource(d => d.Mvc().Controller("Device").LoadAction("TypeGet").Key("id"))
//                    .RemoteOperations(true)
                    .Height(250)
                    .Columns(c => {
                        //c.Add().DataField("id");
                        c.Add().DataField("descr").Caption("Тип");

                    })
                    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                    .HoverStateEnabled(true)
//                    .RemoteOperations(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS("[component.option('value')]"))
                    .FocusedRowEnabled(true)
                    .FocusedRowKey(new JS("component.option('value')"))
                    .OnSelectionChanged("function(selectionChangedArgs) { onSelectionChanged(selectionChangedArgs, component) }")
                )
}


<script>
    function onSelectionChanged(selectionChangedArgs, component) {
        console.log(selectionChangedArgs);
        var setValue = component.option('setValue');
        var selectedRowKey = selectionChangedArgs.selectedRowsData[0].id;
        var selectedRowText = selectionChangedArgs.selectedRowsData[0].descr;
        console.log(selectedRowKey, selectedRowText);


        component.option('value', selectedRowText);
        setValue(selectedRowKey);
        if (selectionChangedArgs.selectedRowKeys.length > 0) {
            component.close();
        }
    }
</script>