﻿                </div>
            </div>

<div class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-container-main">
                <div><img src="/img/svg/logo-light-d.svg"></div>
                <div>CloudMonitor - Privacy</div>
            </div>
            <div class="footer-container-text"></div>
        </div>
    </div>
</div>

    </div>

<div class="modal" data-name="example-1">
    <div class="modal__container">
        <div class="modal__scroll">
            <div class="modal__header">
                <div class="modal__title">
                    Настройки получателя
                </div>
                <div class="modal__close" data-close></div>
            </div>
            <div class="modal__body">

                <!--
                    Тут начинается тело формы
                    можно вешать любые js события, т.к. елементы постоянно в DOM
                -->

                <form class="form prevent">
                    <div class="form-title">Текстовые поля</div>
                    <div class="form-row ">

                        <div class="form-cell ">
                            <span class="form-cell__title">Ваше имя</span>
                            <div class="form-cell__value">
                                <input type="text" class="input w100" name="name" placeholder="Простой текст" required>
                            </div>
                        </div>

                        <div class="form-cell">
                            <span class="form-cell__title">Выключено</span>
                            <div class="form-cell__value">
                                <input type="text" class="input w100" placeholder="Простой текст" disabled>
                            </div>
                        </div>

                        <div class="form-cell w100">
                            <span class="form-cell__title">Описание на 100%</span>
                            <div class="form-cell__value">
                                <input type="text" class="input w100" placeholder="Простой текст">
                            </div>
                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Выпадающий список нативный</span>
                            <div class="form-cell__value">
                                <select class="input">
                                    <option value="null" selected disabled>Ничего не выбрано</option>

                                    <optgroup label="Умный дом">
                                        <option>Алиса</option>
                                        <option>AquaStorage</option>
                                        <option>Ajax</option>
                                    </optgroup>

                                    <optgroup label="Бытовые устройства">
                                        <option>Умная камера</option>
                                        <option>Умный дом Xiaomi</option>
                                        <option>Умный пылесос</option>
                                    </optgroup>

                                    <option value="new">Нет моего устройства в списке, указать вручную</option>



                                </select>
                            </div>

                        </div>

                        

                        <div class="form-cell w100">
                            <span class="form-cell__title">Выпадающий список на js</span>

                            <div class="form-cell__value">
                                <div class="drop w100">
                                    <div class="drop-btn ">
                                        <input type="text" class="input --has-arrow" placeholder="Вариант">
                                    </div>
                                    <div class="drop-container">
                                        <div class="drop-content">

                                            <section label="Умный дом">
                                                <a href="#" class="drop-item">Алиса</a>
                                                <a href="#" class="drop-item">AquaStorage</a>
                                                <a href="#" class="drop-item">Ajax</a>
                                            </section>
                                            <section label="Радио">
                                                <label class="checkbox mb1">
                                                    <input type="checkbox" checked="checked">
                                                    <span>Кнопка чекбокс</span>
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="checked">
                                                    <span>Кнопка чекбокс 2</span>
                                                </label>
                                            </section>
                                            <section label="Групп3 ">
                                                <label class="radio mb1">
                                                    <input type="radio" name="n2">
                                                    <span>Кнопка Радио</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="n2">
                                                    <span>Кнопка Радио 2</span>
                                                </label>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="form-title">Чекбоксы</div>
                    <div class="form-row">
                        <div class="form-cell">
                            <span class="form-cell__title">СМС</span>
                            <div class="form-cell__value">
                                <label class="checkbox"><input type="checkbox"></label>
                            </div>

                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Telegram</span>
                            <div class="form-cell__value"><label class="checkbox"><input type="checkbox" checked="checked"></label></div>

                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Whatsapp</span>
                            <div class="form-cell__value"><label class="checkbox"><input type="checkbox" disabled></label></div>



                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Email</span>
                            <div class="form-cell__value"><label class="checkbox"><input type="checkbox"></label></div>
                        </div>
                    </div>


                    <div class="form-title">Радиобоксы</div>
                    <div class="form-row">
                        <div class="form-cell">
                            <span class="form-cell__title">СМС</span>
                            <label class="radio form-cell__value"><input name="n1" type="radio"></label>
                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Telegram</span>
                            <label class="radio form-cell__value"><input name="n1" type="radio" checked="checked"></label>
                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Whatsapp</span>
                            <label class="radio form-cell__value"><input name="n1" type="radio" disabled></label>
                        </div>
                        <div class="form-cell">
                            <span class="form-cell__title">Email</span>
                            <label class="radio form-cell__value"><input name="n1" type="radio"></label>
                        </div>
                    </div>


                    <div class="form-footer">
                        <button class="btn form-btn -border-only" type="button"><span>Отменить</span></button>
                        <button class="btn form-btn --orange" type="submit"><span>Сохранить</span></button>
                    </div>

                </form>


                <!-- Тут заканчиввается -->

            </div>
        </div>

    </div>
    <div class="modal__overlay"></div>

</div>


<div class="modal" data-name="export-data">
    <div class="modal__container">
        <div class="modal__scroll">
            <div class="modal__header">
                <div class="modal__title">
                    Эксрорт данных
                </div>
                <div class="modal__close" data-close></div>
            </div>
            <div class="modal__body">

                тут тело формы

            </div>
        </div>

    </div>
    <div class="modal__overlay"></div>

</div>

<script src="/js/global.js"></script>
<script src="/js/scroll.js"></script>
<script src="/js/drop.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/native.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("ExternalDependencies", required: false)
    @RenderSection("ChartDependencies", required: false)

