﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{


    var user = User.Identity.Name;



    if (user == null)
    {
        user = "DEBUG";
    }

    List<object> claims = new List<object>();


    bool roleAdmin = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "Admin");

    bool roleClientAdmin = User.HasClaim(
                    c => c.Type == ClaimTypes.Role
                    && c.Value == "ClientAdmin");


    foreach (var claim in User.Claims.ToList())
    {
        claims.Add(new
        {
            type = claim.Type,
            value = claim.Value

        });
    }
    var classMenu = "hidden";

    if (roleAdmin == true)
    {
        classMenu = "";
    }
    else
    {
        if (roleClientAdmin)
        {
            classMenu = "";
        }

    }
}

<div class="header">
    <div class="container">
        <div class="header-container">
            <a href="/" class="logo  header-logo">
                <img src="/img/svg/logo.svg">
            </a>
            <div class="nav">
                <div class="nav-item drop">
                    <div class="drop-btn --has-arrow">
                        <a href="#" class="nav-item__link"><svg class="icon"><use xlink:href="/img/spritemap.svg#lightning"></use></svg> Аварии</a>
                    </div>
                    <div class="drop-container">
                        <div class="drop-content">
                            <a href="/Alarm/Index" class="drop-item">Открытые аварии</a>
                            <a href="/Alarm/Closed" class="drop-item">Закрытые аварии</a>                            
                        </div>

                    </div>
                </div>
                @*<div class="nav-item drop">
                    <div class="drop-btn --has-arrow">
                        <a href="#" class="nav-item__link">Устройства</a>
                    </div>
                    <div class="drop-container">
                        <div class="drop-content">




                            <a href="#" class="drop-item">Все устройства</a>
                            <a href="#" class="drop-item">Журнал</a>
                            <a href="#" class="drop-item">Черный список</a>
                        </div>
                    </div>
                </div>*@
                <div class="nav-item drop">
                    <div class="drop-btn --has-arrow">
                        <a href="#" class="nav-item__link">Справочники</a>
                    </div>
                    <div class="drop-container">
                        <div class="drop-content">

                            <a href="/Object/Index" class="drop-item">Объекты</a>
                            <a href="/Device/Index" class="drop-item">Устройства</a>
                            @{ if ((roleClientAdmin) || (roleAdmin))
                                {
                                    <a href="/Recipient/DeviceType" class="drop-item">Получатели</a>
                                    <a href="/Device/index" class="drop-item">Типы устройств</a>
                                }
                            }
                            @{ if (roleAdmin)
                                {
                                    <a href="/Service/Index" class="drop-item">Сервисы</a>
                                    <a href="/Device/Priority" class="drop-item">Приоритеты аварий</a>
                                }
                            }
                        </div>
                    </div>
                </div>

                @{ if (roleAdmin)
                    {

                        <div class="nav-item drop">
                            <div class="drop-btn --has-arrow">
                                <a href="#" class="nav-item__link">Управление</a>
                            </div>
                            <div class="drop-container">
                                <div class="drop-content">
                                    <a href="/RoleManager/Index" class="drop-item">Роли</a>
                                    <a href="/Admin/Index" class="drop-item">Пользователи</a>
                                </div>
                            </div>
                        </div>
                    }
                }




            </div>
            <div class="profile">

                <div class="drop">
                    <div class="drop-btn">
                        <div class="profile__btn">
                            <span>@User.Identity.Name</span>
                            <svg class="icon"><use xlink:href="/img/spritemap.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="drop-container">
                        <div class="drop-content">
                            <a class="drop-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профиль</a>
                            @*<a href="/Account/Manage/Index" class="drop-item">Редактирование</a>*@
                            <a href="/remove.html" class="drop-item">Удаление</a>
                            @*<a href="/Account/Logout" class="drop-item">Выход</a>*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="lang">
                <div class="drop">
                    <div class="drop-btn">
                        <div class="lang__btn --arrow-down">
                            <svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg>
                        </div>
                    </div>
                    <div class="drop-container">
                        <div class="drop-content">
                            <a href="#" class="drop-item lang__name --selected"><svg class="icon"><use xlink:href="/img/spritemap.svg#rus"></use></svg> Русский</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-controlls">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    @*<button type="submit" class="nav-link btn btn-link text-dark">Выход</button>*@
                    <button class="btn -rounded -border-only"><span>Выйти</span></button>
                </form>

            </div>
        </div>
    </div>
</div>

