﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
    <meta name="description" content="Text" />
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" href="~/css/main.bundle.css" />
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/devextreme/jquery.js"></script>
    <title>Страница</title>
</head>
<body>
    <div id="app">
        <div class="welcome">
            <div class="layer">
                <div class="welcome-container">
                    <div class="welcome-container__info">
                        <div class="welcome-container__picture"><img src="/img/svg/welcome-container__picture.svg" /></div>
                        <div class="welcome-container__text">
                            <img src="/img/svg/logo-light-w.svg" />
                            <p>
                                
                            </p>
                            @*<p>CloudMonitor - Privacy</p>*@
                        </div>
                    </div>
                    <div class="welcome-container__aside">


                        @RenderBody()


                    </div>
                </div>
            </div>
        </div>
    </div>
    


   
    <script src="~/js/global.js"></script>
    <script src="~/js/scroll.js"></script>
    <script src="~/js/drop.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/native.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudMonitor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-cloud fa-2x txt-color-blueLight"></i> CloudMonitor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CloudMonitor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@
