﻿


<!DOCTYPE html>
<html lang="ru">
<head>
    

    @{ await Html.RenderPartialAsync("_Stylesheets"); }

    <title>CloudControl</title>
</head>

<body>
    <div id="">

        @{ await Html.RenderPartialAsync("_Header"); }

        <div class="wrapper">
            @*<div class="container">
                    <div class="wrapper__header">
                        <div class="wrapper__header-title">Получатели</div>
                        <div class="wrapper__header-controlls">

                            <div class="drop">
                                <div class="drop-btn">
                                    <button class="btn -rounded -light -shadow">
                                        <svg class="icon"><use xlink:href="/img/spritemap.svg#ui-export"></use></svg>

                                        <span>Экспортировать</span>
                                    </button>
                                </div>
                                <div class="drop-container">
                                    <div class="drop-content">
                                        <a href="javascript:void(0)" data-modal-open="export-data" class="drop-item"> <svg class="icon"><use xlink:href="/img/spritemap.svg#excel"></use></svg> Все данные</a>
                                        <a href="#" class="drop-item"> <svg class="icon"><use xlink:href="/img/spritemap.svg#data"></use></svg> Выбранные данные</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>*@

            <div class="layer data-container">


                @RenderBody()


            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-container-main">
                        <div><img src="/img/svg/logo-light-d.svg"></div>
                        @*<div>CloudMonitor - Privacy</div>*@
                    </div>
                    <div class="footer-container-text"></div>
                </div>
            </div>
        </div>

    </div>



    
    @{ await Html.RenderPartialAsync("Scripts"); }

    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("ExternalDependencies", required: false)
    @RenderSection("ChartDependencies", required: false)

</body>
</html>
