﻿
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="CloudControl" />

<link rel="shortcut icon" href="/img/favicon.ico" />
<link rel="stylesheet" href="/css/main.bundle.css" />
<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

@*devextreme*@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.softblue.compact.css" rel="stylesheet" />
<link href="~/css/icon_styles.css" rel="stylesheet" />

<script src="~/js/devextreme/jszip.min.js"></script>
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/dx.all.js"></script>

<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>




